<template>
  <v-row justify="space-between" align="center">
    <v-col cols="auto">x{{ orderItem.quantity }}</v-col>
    <v-col cols="auto">
      <v-list-item-content>
        {{ orderItem.item.name }}
      </v-list-item-content>
    </v-col>
    <v-col cols="auto">
      {{ orderItem.item.price * orderItem.quantity }} €
    </v-col>
  </v-row>
</template>

<script>
export default {
  props: {
    orderItem: {
      type: Object,
      required: true,
    },
  },
}
</script>
