<template>
  <v-dialog unset v-model="dialog">
    <template v-slot:activator="{ on, attrs }">
      <v-btn color="#FF7E00" v-bind="attrs" v-on="on" @click="getIngredients"
        >Créer un produit</v-btn
      >
    </template>
    <v-card>
      <v-card-title>
        <span class="text-h5">Produit</span>
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-row>
            <v-col cols="12">
              <v-text-field
                label="Nom du produit*"
                required
                v-model="form.name"
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field
                label="Note du produit*"
                required
                v-model="form.rating"
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field
                label="Prix du produit*"
                required
                v-model="form.price"
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field
                label="Commentaires*"
                required
                v-model="form.comments"
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-row>
                <div>Ingrédients :</div>
                <v-chip
                  class="mx-1"
                  v-for="ingredient of form.listIngredients"
                  :key="ingredient.id"
                  close
                  label
                  @click:close="form.listIngredients.splice(index)"
                  >{{ ingredient.name }}</v-chip
                >
              </v-row>
              <v-row>
                <v-autocomplete
                  class="searchBar"
                  no-data-text="Pas de résultats"
                  clearable
                  v-model="searchValue"
                  :items="ingredientsNames"
                  placeholder="Rechercher un ingrédient par nom"
                ></v-autocomplete>
              </v-row>

              <v-row no-gutters justify="start">
                <v-col
                  v-for="ingredient of filteredIngredientsList"
                  :key="ingredient.id"
                  class="pa-6 ma-0 d-flex child-flex"
                  cols="4"
                >
                  <v-skeleton-loader
                    v-if="$fetchState.pending"
                    elevation="10"
                    height="400"
                    width="100%"
                    type="image, article"
                  ></v-skeleton-loader>

                  <Ingredient
                    :nested="true"
                    v-if="!$fetchState.pending"
                    @add-to-product="addToProduct"
                    :ingredient="ingredient"
                  />
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  <v-file-input
                    @change="onFileChange"
                    prepend-icon="mdi-camera"
                    clearable
                    accept="image/*"
                    label="Ajouter une image"
                    v-model="image"
                  ></v-file-input>
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  <v-img :src="imageUrl" />
                </v-col>
              </v-row>
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>
      <v-row justify="center">
        <v-col cols="auto">
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-row justify="center">
              <v-col cols="auto">
                <v-btn color="#FF7E00" @click="confirmChanges"
                  >Valider la création de produit</v-btn
                >
              </v-col>
              <v-col cols="auto">
                <v-btn color="#FF7E00" @click="cancel()">Annuler</v-btn>
              </v-col>
            </v-row>
          </v-card-actions>
        </v-col>
      </v-row>
    </v-card>
  </v-dialog>
</template>

<script>
import Swal from 'sweetalert2'
import Ingredient from '~/components/erp/admin/ingredients/Ingredient.vue'
export default {
  name: 'ModalCreateProduct',
  components: {
    Ingredient,
  },
  async fetch() {
    await this.getIngredients()
  },
  data: () => ({
    dialog: false,
    form: {
      name: null,
      price: null,
      comments: null,
      rating: null,
      price: null,
      listIngredients: [],
      photoString: null,
      photoTitle: null,
    },
    ingredients: [],
    ingredientsNames: [],
    searchValue: null,
    image: null,
    imageUrl: null,
  }),
  computed: {
    restaurant() {
      return this.$store.state.restaurant.restaurant
    },
    filteredIngredientsList() {
      let filteredList = this.ingredients
      if (this.searchValue !== '' && this.searchValue !== null) {
        filteredList = this.ingredients.filter((ingredient) => {
          return (
            ingredient.name
              .toLowerCase()
              .indexOf(this.searchValue.toLowerCase()) != -1
          )
        })
      } else {
        filteredList = this.ingredients
      }
      return filteredList
    },
  },
  methods: {
    createImage(file) {
      const reader = new FileReader()

      reader.onload = (e) => {
        this.imageUrl = e.target.result
      }
      reader.readAsDataURL(file)
    },
    onFileChange(file) {
      if (!file) {
        return
      }
      this.createImage(file)
    },
    addToProduct(ingredient) {
      this.form.listIngredients.push(ingredient)
      Swal.fire({
        title: 'Ingrédient ajouté avec succès.',
        icon: 'success',
        timer: '1000',
        showConfirmButton: false,
      })
    },
    close() {
      this.$emit('close')
    },
    confirmChanges() {
      this.form.photoString = this.imageUrl
      this.form.photoTitle = this.image.title
      this.$axios
        .post(`/restaurant/${this.restaurant.id}/product/create`, this.form)
        .then(() => this.$emit('change-confirmed'))
      this.dialog = false
    },
    getIngredients() {
      this.$fetchState.pending = true
      this.$axios
        .get(`/restaurant/${this.restaurant.id}/ingredients`)
        .then((result) => {
          this.ingredients = result.data
          for (let x = 0; x < this.ingredients.length; x++) {
            this.ingredientsNames.push(this.ingredients[x].name)
          }
        })
        .then(() => (this.$fetchState.pending = false))
    },
    cancel() {
      this.form = {}
      this.dialog = false
    },
  },
}
</script>
