<template>
  <v-form>
    <v-container>
      <v-row>
        <v-col cols="12">
          <v-autocomplete
            class="searchBar"
            no-data-text="Pas de résultats"
            clearable
            v-model="searchValue"
            :items="productsNames"
            placeholder="Rechercher un produit par nom"
          ></v-autocomplete>

          <v-row class="pa-0 ma-0" justify="start">
            <v-col
              v-for="product of filteredProductsList"
              :key="product.id"
              class="pa-6 ma-0 d-flex child-flex"
              cols="4"
            >
              <v-row no-gutters justify="end">
                <v-col cols="auto">
                  <v-skeleton-loader
                    v-if="$fetchState.pending"
                    elevation="10"
                    height="400"
                    width="350"
                    type="image, article"
                  ></v-skeleton-loader>

                  <Product
                    v-if="!$fetchState.pending"
                    @change-confirmed="changeConfirmed"
                    :product="product"
                  />
                </v-col>
              </v-row>
            </v-col>
          </v-row>

          <v-row justify="center">
            <v-col cols="auto">
              <ModalCreateProduct @change-confirmed="changeConfirmed" />
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-container>
  </v-form>
</template>

<script>
import Product from '~/components/erp/manager/products/Product.vue'
import ModalCreateProduct from '~/components/erp/manager/products/ModalCreateProduct.vue'
export default {
  name: 'ProductsManager',
  components: {
    Product,
    ModalCreateProduct,
  },
  async fetch() {
    await this.getProducts()
  },
  data: () => ({
    products: {},
    productsNames: [],
    searchValue: null,
  }),
  fetchDelay: 600,
  computed: {
    restaurant() {
      return this.$store.state.restaurant.restaurant
    },
    filteredProductsList() {
      let filteredList = this.products
      if (this.searchValue !== '' && this.searchValue !== null) {
        filteredList = this.products.filter((product) => {
          return (
            product.name
              .toLowerCase()
              .indexOf(this.searchValue.toLowerCase()) != -1
          )
        })
      } else {
        filteredList = this.products
      }
      return filteredList
    },
  },
  methods: {
    getProducts() {
      this.$fetchState.pending = true
      this.$axios
        .get(`/restaurant/${this.restaurant.id}/products`)
        .then((result) => {
          this.products = result.data
          for (let x = 0; x < this.products.length; x++) {
            this.productsNames.push(this.products[x].name)
          }
        })
        .then(() => (this.$fetchState.pending = false))
    },
    changeConfirmed() {
      this.getProducts()
    },
  },
}
</script>
<style scoped>
.searchBar {
  width: 40%;
  margin: 0 auto;
}
</style>
