<template>
  <div>
    <div v-if="!nested">
      <v-card color="grey lighten-3" elevation="10" outlined>
        <v-img height="250" contain :src="product.photoString"></v-img>
        <v-card-title class="mx-3">{{ product.name }}</v-card-title>
        <v-card-text class="mx-3">
          <v-row>
            <v-col class="mr-2" cols="1">
              <v-icon>mdi-star</v-icon>
            </v-col>
            <v-col cols="auto">
              <div>Rating : {{ product.rating }}</div>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="mr-2" cols="1">
              <v-icon>mdi-view-list-outline</v-icon>
            </v-col>
            <v-col cols="auto">
              Ingrédients :
              <v-chip
                v-for="ingredient of product.listIngredients"
                :key="ingredient.id"
                class="mx-1"
                label
                >{{ ingredient.name }}</v-chip
              >
            </v-col>
          </v-row>
          <v-row>
            <v-col class="mr-2" cols="1">
              <v-icon>mdi-currency-eur</v-icon>
            </v-col>
            <v-col cols="auto">
              <div>Prix : {{ product.price }}</div>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="mr-2" cols="1">
              <v-icon>mdi-message-outline</v-icon>
            </v-col>
            <v-col cols="auto">
              <div>Commentaires : {{ product.comments }}</div>
            </v-col>
          </v-row>
          <v-row justify="center">
            <v-col cols="auto">
              <ModalEditProduct
                @change-confirmed="$emit('change-confirmed')"
                :product="product"
              />
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </div>

    <div v-else>
      <v-card
        @click="addToMenu()"
        color="grey lighten-3"
        elevation="10"
        outlined
      >
        <v-img height="250" contain :src="product.photoString"></v-img>
        <v-card-title class="mx-3">{{ product.name }}</v-card-title>
        <v-card-text class="mx-3">
          <v-row>
            <v-col class="mr-2" cols="1">
              <v-icon>mdi-star</v-icon>
            </v-col>
            <v-col cols="auto">
              <div>Rating : {{ product.rating }}</div>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="mr-2" cols="1">
              <v-icon>mdi-view-list-outline</v-icon>
            </v-col>
            <v-col cols="auto">
              Ingrédients :
              <v-chip
                v-for="ingredient of product.listIngredients"
                :key="ingredient.id"
                class="mx-1"
                label
                >{{ ingredient.name }}</v-chip
              >
            </v-col>
          </v-row>
          <v-row>
            <v-col class="mr-2" cols="1">
              <v-icon>mdi-currency-eur</v-icon>
            </v-col>
            <v-col cols="auto">
              <div>Prix : {{ product.price }}</div>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="mr-2" cols="1">
              <v-icon>mdi-message-outline</v-icon>
            </v-col>
            <v-col cols="auto">
              <div>Commentaires : {{ product.comments }}</div>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </div>
  </div>
</template>

<script>
import ModalEditProduct from '~/components/erp/admin/products/ModalEditProduct.vue'
export default {
  name: 'Product',
  components: {
    ModalEditProduct,
  },
  props: {
    nested: {
      required: false,
      type: Boolean,
      default: false,
    },
    product: {
      required: true,
      type: Object,
    },
  },
  methods: {
    addToMenu() {
      this.$emit('add-to-menu', this.product)
    },
  },
}
</script>

<style>
.swal2-popup {
  font-family: 'Roboto';
}
</style>
