<template>
  <v-card color="grey lighten-3" elevation="10" outlined>
    <div class="d-flex justify-space-between">
      <v-card-title class="mx-3">{{ menu.name }}</v-card-title>
      <v-icon x-large @click="callModal(menu)">mdi-close-circle</v-icon>
    </div>
    <v-img height="250" contain :src="menu.photoString"></v-img>
    <v-card-text class="mx-3">
      <v-row>
        <v-col class="mr-2" cols="1">
          <v-icon>mdi-star</v-icon>
        </v-col>
        <v-col cols="auto">
          <div>Rating : {{ menu.rating }}</div>
        </v-col>
      </v-row>
      <v-row>
        <v-col class="mr-2" cols="1">
          <v-icon>mdi-view-list-outline</v-icon>
        </v-col>
        <v-col cols="auto">
          Produits :
          <v-chip
            v-for="product of products"
            :key="product.id"
            class="mx-1"
            label
            >{{ product.name }}</v-chip
          >
        </v-col>
      </v-row>
      <v-row>
        <v-col class="mr-2" cols="1">
          <v-icon>mdi-currency-eur</v-icon>
        </v-col>
        <v-col cols="auto">
          <div>Prix : {{ menu.price }}</div>
        </v-col>
      </v-row>
      <v-row justify="center">
        <v-col cols="auto">
          <ModalEditMenu
            @change-confirmed="$emit('change-confirmed')"
            :menu="menu"
          />
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</template>

<script>
import Swal from 'sweetalert2'
import ModalEditMenu from '~/components/erp/manager/menus/ModalEditMenu.vue'
export default {
  name: 'Menu',
  components: {
    ModalEditMenu,
  },
  props: {
    menu: {
      required: true,
      type: Object,
    },
  },
  async fetch() {
    this.getMenuProducts()
  },
  data: () => ({
    products: [],
  }),
  methods: {
    getMenuProducts() {
      this.$axios.get(`/menu/${this.menu.id}/products`).then((result) => {
        this.products = result.data
      })
    },
    callModal(menu) {
      Swal.fire({
        title: 'Êtes-vous sûr de vouloir supprimer ce menu ?',
        text: 'Vous ne pourrez plus revenir en arrière.',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#FF7E00',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Supprimer le menu',
      }).then((result) => {
        if (result.isConfirmed) {
          this.$axios
            .delete(
              `/restaurant/${this.$auth.user.restaurantId}/menu/${menu.id}`
            )
            .then(() =>
              Swal.fire({
                title: 'Suppression effectuée',
                text: 'Le menu a bien été supprimé.',
                icon: 'success',
              })
            )
            .then(() => {
              this.$emit('change-confirmed')
            })
        }
      })
    },
  },
}
</script>

<style>
.swal2-popup {
  font-family: 'Roboto';
}
</style>
