<template>
  <v-dialog unset v-model="dialog">
    <template v-slot:activator="{ on, attrs }">
      <v-btn color="#FF7E00" v-bind="attrs" v-on="on" @click="getProducts"
        >Créer un menu</v-btn
      >
    </template>
    <v-card>
      <v-card-title>
        <span class="text-h5">Menu</span>
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-row>
            <v-col cols="12">
              <v-text-field
                label="Nom du menu*"
                required
                v-model="form.name"
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field
                label="Prix du menu*"
                required
                v-model="form.price"
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-row>
                <div>Produits :</div>
                <v-chip
                  class="mx-1"
                  v-for="product of form.listProducts"
                  :key="product.id"
                  close
                  label
                  @click:close="removeProduct(product.id)"
                  >{{ product.name }}</v-chip
                >
              </v-row>
              <v-row>
                <v-autocomplete
                  class="searchBar"
                  no-data-text="Pas de résultats"
                  clearable
                  v-model="searchValue"
                  :items="productsNames"
                  placeholder="Rechercher un ingrédient par nom"
                ></v-autocomplete>
              </v-row>

              <v-row no-gutters justify="start">
                <v-col
                  v-for="product of filteredProductsList"
                  :key="product.id"
                  class="pa-6 ma-0 d-flex child-flex"
                  cols="4"
                >
                  <v-skeleton-loader
                    v-if="$fetchState.pending"
                    elevation="10"
                    height="400"
                    width="100%"
                    type="image, article"
                  ></v-skeleton-loader>

                  <Product
                    :nested="true"
                    v-if="!$fetchState.pending"
                    @add-to-menu="addToMenu"
                    :product="product"
                  />
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  <v-file-input
                    @change="onFileChange"
                    prepend-icon="mdi-camera"
                    clearable
                    accept="image/*"
                    label="Ajouter une image"
                    v-model="image"
                  ></v-file-input>
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  <v-img :src="imageUrl" />
                </v-col>
              </v-row>
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>
      <v-row justify="center">
        <v-col cols="auto">
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-row justify="center">
              <v-col cols="auto">
                <v-btn color="#FF7E00" @click="confirmChanges"
                  >Valider la création du menu</v-btn
                >
              </v-col>
              <v-col cols="auto">
                <v-btn color="#FF7E00" @click="cancel()">Annuler</v-btn>
              </v-col>
            </v-row>
          </v-card-actions>
        </v-col>
      </v-row>
    </v-card>
  </v-dialog>
</template>

<script>
import Swal from 'sweetalert2'
import Product from '~/components/erp/manager/products/Product.vue'
export default {
  name: 'ModalCreateMenu',
  components: {
    Product,
  },
  async fetch() {
    await this.getProducts()
  },
  data: () => ({
    dialog: false,
    form: {
      name: null,
      price: null,
      listProducts: [],
      photoString: null,
      photoTitle: '',
    },
    products: [],
    productsNames: [],
    searchValue: null,
    image: null,
    imageUrl: null,
  }),
  computed: {
    filteredProductsList() {
      let filteredList = this.products
      if (this.searchValue !== '' && this.searchValue !== null) {
        filteredList = this.products.filter((product) => {
          return (
            product.name
              .toLowerCase()
              .indexOf(this.searchValue.toLowerCase()) != -1
          )
        })
      } else {
        filteredList = this.products
      }
      return filteredList
    },
  },
  methods: {
    createImage(file) {
      const reader = new FileReader()

      reader.onload = (e) => {
        this.imageUrl = e.target.result
      }
      reader.readAsDataURL(file)
    },
    onFileChange(file) {
      if (!file) {
        return
      }
      this.createImage(file)
    },
    addToMenu(product) {
      this.form.listProducts.push(product)
      Swal.fire({
        title: 'Produit ajouté avec succès.',
        icon: 'success',
        timer: '1000',
        showConfirmButton: false,
      })
    },
    close() {
      this.$emit('close')
    },
    confirmChanges() {
      this.form.photoString = this.imageUrl
      this.form.photoTitle = this.image.title

      const listProducts = []
      this.form.listProducts.forEach((product) => {
        listProducts.push(product.id)
      })
      this.form.listProducts = listProducts

      this.$axios
        .post(`/restaurant/${this.$auth.user.restaurantId}/menu`, this.form)
        .then(() => this.$emit('change-confirmed'))
      this.dialog = false
    },
    getProducts() {
      this.$fetchState.pending = true
      this.$axios
        .get(`/restaurant/${this.$auth.user.restaurantId}/products`)
        .then((result) => {
          this.products = result.data
          for (let x = 0; x < this.products.length; x++) {
            this.productsNames.push(this.products[x].name)
          }
        })
        .then(() => {
          this.$fetchState.pending = false
        })
    },
    removeProduct(productId) {
      let index = null
      for (const [i, value] of this.form.listProducts.entries()) {
        if (value.id === productId) {
          index = i
        }
      }
      this.form.listProducts.splice(index, 1)
    },
    cancel() {
      this.form = {}
      this.dialog = false
    },
  },
}
</script>
