<template>
  <UserProfile />
</template>

<script>
import UserProfile from '~/components/common/user/UserProfile.vue'
export default {
  components: {
    UserProfile
  }
}
</script>

<style lang="scss" scoped></style>
