<template>
  <v-dialog unset v-model="dialog">
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        color="#FF7E00"
        large
        @click="getMenuProducts"
        v-bind="attrs"
        v-on="on"
        >Voir le détail</v-btn
      >
    </template>
    <v-card>
      <div
        v-for="product of productsList"
        :key="product.id"
        class="d-flex flex-column justify-center align-center rounded-25 pa-5"
      >
        <v-img :src="product.photoString" height="100" contain></v-img>
        <v-card-title>{{ product.name }}</v-card-title>
      </div>
    </v-card>
  </v-dialog>
</template>

<script>
import Product from '~/components/erp/manager/products/Product.vue'
export default {
  name: 'ModalDetailsMenu',
  components: {
    Product,
  },
  props: {
    menu: {
      type: Object,
      required: true,
    },
  },
  data: () => ({
    dialog: false,
    image: null,
    productsNames: [],
    products: [],
    imageUrl: null,
    productsList: [],
  }),
  methods: {
    close() {
      this.$emit('close')
    },
    getMenuProducts() {
      this.$axios.get(`/menu/${this.menu.id}/products`).then((result) => {
        this.productsList = result.data
      })
    },
  },
}
</script>

<style scoped>
.v-card {
  transition: unset;
}
.v-card:hover {
  transform: unset;
}
</style>
