<template>
  <v-container
    v-if="!$vuetify.breakpoint.mobile"
    class="d-flex justify-space-around flex-wrap"
  >
    <v-col cols="3" v-for="menu of menus" :key="menu.id">
      <v-skeleton-loader
        v-if="$fetchState.pending"
        elevation="10"
        height="400"
        width="400"
        type="image, article"
      ></v-skeleton-loader>
      <v-row v-else>
        <RestaurantMenu :restaurant="restaurant" :menu="menu" />
      </v-row>
    </v-col>
  </v-container>

  <v-container
    v-else
    class="d-flex flex-column justify-center align-center flex-wrap"
  >
    <v-col cols="12" v-for="menu of menus" :key="menu.id" class="mb-5">
      <v-skeleton-loader
        v-if="$fetchState.pending"
        elevation="10"
        height="400"
        width="100%"
        type="image, article"
      ></v-skeleton-loader>
      <v-row v-else>
        <RestaurantMenu :restaurant="restaurant" :menu="menu" />
      </v-row>
    </v-col>
  </v-container>
</template>

<script>
import RestaurantMenu from '~/components/common/restaurants/menus/RestaurantMenu.vue'

export default {
  name: 'RestaurantMenus',
  components: {
    RestaurantMenu,
  },
  async fetch() {
    await this.$axios
      .get(`/restaurant/slug/${this.$route.params.restaurantSlug}`)
      .then((result) => (this.restaurant = result.data))
    this.$axios
      .get('/restaurant/' + this.restaurant.id + '/menus')
      .then((result) => {
        this.menus = result.data
      })
  },
  fetchDelay: 600,
  data: () => ({
    menus: [],
    restaurant: {},
  }),
}
</script>
