<template>
  <v-card
    v-if="!$vuetify.breakpoint.mobile"
    class="rounded-25"
    outlined
    elevation="10"
  >
    <v-card-title>{{ menu.name }}</v-card-title>
    <v-img height="250" contain :src="menu.photoString"></v-img>
    <v-card-text>Prix : {{ menu.price }} €</v-card-text>
    <v-row
      no-gutters
      class="d-flex flex-column justify-center mb-5 align-center"
    >
      <v-col cols="auto" class="mb-5">
        <ModalDetailsMenu :menu="menu" />
      </v-col>
      <v-col cols="auto">
        <v-row no-gutters class="d-flex justify-center align-center">
          <v-col cols="auto" class="d-flex justify-center align-center">
            <v-btn @click="minusQuantity(menu)" elevation="2" icon class="mb-5">
              <v-icon>mdi-minus</v-icon>
            </v-btn>
          </v-col>
          <v-col cols="auto" class="d-flex justify-center align-center">
            <v-text-field
              type="number"
              v-model="quantity"
              readonly
              solo
              min="0"
              max="99"
            ></v-text-field>
          </v-col>
          <v-col cols="auto" class="d-flex justify-center align-center">
            <v-btn @click="plusQuantity(menu)" elevation="2" icon class="mb-5">
              <v-icon>mdi-plus</v-icon>
            </v-btn>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-card>

  <v-card v-else class="rounded-25">
    <v-card-title>{{ menu.name }}</v-card-title>
    <v-img height="250" contain :src="menu.photoString"></v-img>
    <v-card-text>Prix : {{ menu.price }} €</v-card-text>
    <v-row
      no-gutters
      class="d-flex flex-column justify-center mb-5 align-center"
    >
      <v-col cols="auto" class="mb-5">
        <ModalDetailsMenu :menu="menu" />
      </v-col>
      <v-col cols="auto">
        <v-row no-gutters class="d-flex justify-center align-center">
          <v-col cols="2" class="d-flex justify-center align-center">
            <v-btn @click="minusQuantity(menu)" elevation="2" icon class="mb-5">
              <v-icon>mdi-minus</v-icon>
            </v-btn>
          </v-col>
          <v-col cols="3" class="d-flex justify-center align-center">
            <v-text-field
              type="number"
              v-model="quantity"
              readonly
              solo
              min="0"
              max="99"
            ></v-text-field>
          </v-col>
          <v-col cols="2" class="d-flex justify-center align-center">
            <v-btn @click="plusQuantity(menu)" elevation="2" icon class="mb-5">
              <v-icon>mdi-plus</v-icon>
            </v-btn>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-card>
</template>

<script>
import ModalDetailsMenu from '~/components/common/restaurants/menus/ModalDetailsMenu.vue'
export default {
  name: 'RestaurantMenu',
  components: { ModalDetailsMenu },
  props: {
    menu: {
      required: true,
      type: Object,
    },
  },

  computed: {
    orderItems() {
      return this.$store.state.cart.orderItems
    },
    quantity() {
      let index = null
      this.orderItems.forEach((orderItem, orderIndex) => {
        if (orderItem.item.id === this.menu.id) {
          index = orderIndex
        }
      })
      if (index !== null) {
        return this.orderItems[index].quantity
      } else return 0
    },
    restaurant() {
      return this.$store.state.restaurant.restaurant
    },
  },

  methods: {
    plusQuantity() {
      this.$store.dispatch('cart/plusQuantity', this.menu)
    },
    minusQuantity() {
      this.$store.dispatch('cart/minusQuantity', this.menu)
    },
  },
}
</script>

<style scoped>
.v-card {
  transition: all 0.3s ease;
  object-fit: cover;
}

.v-card:hover {
  transform: scale(1.05);
}

@media only screen and (max-width: 960px) {
  .v-card:hover {
    transform: unset;
  }

  .v-card {
    transition: unset;
  }
}
</style>
