<template>
  <v-form ref="form">
    <div v-if="!$vuetify.breakpoint.mobile" class="login">
      <v-card class="pa-10 rounded-25">
        <v-text-field v-model="form.email" type="email" label="E-mail" :rules="notEmpty" required></v-text-field>

        <v-text-field v-model="form.password" type="password" label="Mot de passe" required></v-text-field>

        <v-btn
          :disabled="!form.email || !form.password"
          color="success"
          class="mr-4"
          @click="login"
        >Se connecter</v-btn>
      </v-card>
    </div>
    <div v-if="$vuetify.breakpoint.mobile" class="mobile-login">
      <v-card class="pa-2 rounded-25">
        <v-text-field v-model="form.email" type="email" label="E-mail" :rules="notEmpty" required></v-text-field>

        <v-text-field v-model="form.password" type="password" label="Mot de passe" required></v-text-field>

        <v-btn
          :disabled="!form.email || !form.password"
          color="success"
          class="mr-4"
          @click="login"
        >Se connecter</v-btn>
      </v-card>

      <v-card class="mt-5 pa-5">
        <p class="d-flex justify-center align-center">
          <span>Ou si vous n'avez pas de compte :</span>
        </p>
        <SignUp />
      </v-card>
    </div>
  </v-form>
</template>

<script>
import SignUp from '../signup/SignUp.vue'

export default {
  components: {
    SignUp
  },
  data() {
    return {
      valid: true,
      form: {
        email: '',
        password: ''
      },
      notEmpty: [v => !!v || 'Le champ est requis']
    }
  },
  methods: {
    async login() {
      await this.$auth.loginWith('local', {
        data: {
          email: this.form.email,
          password: this.form.password
        }
      })
      // .then((result) => {
      //   this.$auth.setUser(result.data.user)
      // })
    }
  }
}
</script>

<style scoped>
.login {
  width: 40%;
  margin: 0 auto;
}

.mobile-login {
  width: 90%;
  margin: 0 auto;
}
</style>
