<template>
  <v-footer
    app
    class="d-flex justify-end flex-column-reverse"
    color="#FF7E00"
    absolute
    padless
  >
    <v-container>
      <v-row class="pt-6" justify="center" no-gutters>
        <v-col cols="8">
          <v-row no-gutters class="d-flex justify-space-around align-center">
            <v-col cols="auto">
              <v-row>
                <nuxt-link
                  to="/contact"
                  class="text-decoration-none link"
                  color="#fff"
                  >Nous contacter</nuxt-link
                >
              </v-row>
              <v-row>
                <nuxt-link
                  :to="`/cgv/cgv`"
                  class="text-decoration-none link"
                  color="#fff"
                  >Nos CGV</nuxt-link
                >
              </v-row>
              <v-row>
                <nuxt-link
                  :to="`/cgu/cgu`"
                  class="text-decoration-none link"
                  color="#fff"
                  >Nos CGU</nuxt-link
                >
              </v-row>
            </v-col>
            <v-col cols="auto">
              <v-row justify="end" align="start">
                <span class="link">Nos Réseaux Sociaux :</span>
              </v-row>
              <v-row justify="end">
                <v-col cols="auto">
                  <a
                    href="https://www.facebook.com"
                    target="_blank"
                    class="text-decoration-none"
                  >
                    <v-icon color="#fff">mdi-facebook</v-icon>
                  </a>
                </v-col>
                <v-col cols="auto">
                  <a
                    href="https://www.instagram.com"
                    target="_blank"
                    class="text-decoration-none"
                  >
                    <v-icon color="#fff">mdi-instagram</v-icon>
                  </a>
                </v-col>
                <v-col cols="auto">
                  <a
                    href="https://www.twitter.com"
                    target="_blank"
                    class="text-decoration-none"
                  >
                    <v-icon color="#fff">mdi-twitter</v-icon>
                  </a>
                </v-col>
              </v-row>
            </v-col>
          </v-row>
          <v-col cols="auto">
            <v-row align="end" justify="center">
              <v-col cols="auto">
                <span class="link">&copy; {{ new Date().getFullYear() }}</span>
              </v-col>
            </v-row>
          </v-col>
        </v-col>
      </v-row>
    </v-container>
  </v-footer>
</template>

<script></script>

<style scoped>
.link {
  color: white;
}
</style>
