<template>
  <AdminERP />
</template>

<script>
import AdminERP from '~/components/erp/admin/AdminERP.vue'

export default {
  components: {
    AdminERP,
  },
  middleware: 'adminAuthorized',
}
</script>
