<template>
  <div v-if="restaurants.length > 0">
    <v-container fluid class="ma-0 pa-0">
      <div v-if="!$vuetify.breakpoint.mobile">
        <v-autocomplete
          class="searchBar"
          no-data-text="Pas de résultats"
          clearable
          v-model="searchValue"
          :items="restaurantsCity"
          placeholder="Choisissez votre ville"
        ></v-autocomplete>
        <v-row class="pa-0 ma-0" justify="start">
          <v-col
            v-for="restaurant of filteredRestaurantsList"
            :key="restaurant.id"
            class="pa-6 ma-0 d-flex child-flex"
            cols="3"
          >
            <v-skeleton-loader
              v-if="$fetchState.pending"
              elevation="10"
              height="400"
              width="100%"
              type="image, article"
            ></v-skeleton-loader>

            <Restaurant
              @favorite-changed="$fetch()"
              v-else
              :restaurant="restaurant"
            />
          </v-col>
        </v-row>
        <!-- <div class="text-center">
      <v-pagination
        v-model="page"
        :length="Math.ceil(filteredRestaurantsList.length / perPage)"
        circle
      ></v-pagination>
      </div>-->
      </div>
      <div v-if="$vuetify.breakpoint.mobile">
        <v-autocomplete
          class="searchBar mobile-bar"
          clearable
          v-model="searchValue"
          :items="restaurantsCity"
          placeholder="Choisissez votre ville"
        ></v-autocomplete>
        <v-row class="pa-0 ma-0" justify="start">
          <v-col
            v-for="restaurant of filteredRestaurantsList"
            :key="restaurant.id"
            class="pa-10 ma-0 d-flex child-flex"
          >
            <v-skeleton-loader
              v-if="$fetchState.pending"
              elevation="10"
              height="100%"
              width="100%"
              type="image, article"
            ></v-skeleton-loader>

            <!-- Displaying restaurant for customers -->
            <Restaurant
              @favorite-changed="$fetch()"
              v-else
              :restaurant="restaurant"
            />
          </v-col>
        </v-row>
      </div>
    </v-container>
  </div>
  <div v-else>
    <v-container>
      <v-row justify="center">
        <v-col cols="auto">
          <h2>Vous n'avez actuellement aucun favori !</h2>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
<script>
import Restaurant from '~/components/common/restaurants/Restaurant.vue'
export default {
  name: 'Favorites',
  components: { Restaurant },
  async fetch() {
    await this.getFavorites()
  },
  data: () => ({
    restaurants: [],
    restaurantsCity: [],
    searchValue: '',
  }),
  computed: {
    filteredRestaurantsList() {
      let filteredList = this.restaurants
      if (this.searchValue !== '' && this.searchValue !== null) {
        filteredList = this.restaurants.filter((restaurant) => {
          return (
            restaurant.city
              .toLowerCase()
              .indexOf(this.searchValue.toLowerCase()) != -1
          )
        })
      } else {
        filteredList = this.restaurants
      }
      return filteredList
    },
  },
  mounted() {
    this.$fetch()
  },
  methods: {
    getFavorites() {
      this.$axios
        .get(`/user/${this.$auth.user.id}/getfavorites`)
        .then((result) => {
          this.$axios
            .post(`/restaurants/favorites`, result.data)
            .then((data) => {
              this.restaurants = data.data
              this.restaurantsCount = data.data
              for (let x = 0; x < this.restaurants.length; x++) {
                this.restaurantsCity.push(this.restaurants[x].city)
              }
            })
        })
    },
  },
}
</script>
<style scoped>
.searchBar {
  margin: 0 auto;
  width: 60%;
}
</style>