<template>
  <v-card :loading="loading" elevation="10" max-width="374">
    <template slot="progress">
      <v-progress-linear color="deep-purple" height="10" indeterminate></v-progress-linear>
    </template>
    <v-img height="350" :src="product.img"></v-img>
    <v-card-title>{{ product.name }}</v-card-title>
    <v-card-text>
      <v-row align="center" class="mx-0">
        <v-rating :value="product.rating" color="amber" dense readonly size="14" half-increments></v-rating>
        <div class="grey--text ms-4">{{ product.rating }} ({{ product.ratingsNumber }})</div>
      </v-row>
      <div class="my-4">{{ product.price }} €</div>
      <div>{{ product.description }}</div>
      <v-divider class="mx-4"></v-divider>
      <v-card-title>Ingrédients :</v-card-title>
      <div>{{ ingredients }}</div>
    </v-card-text>
    <v-row>
      <div>Quantité :</div>
      <v-text-field type="number" v-model="quantity" solo></v-text-field>
      <v-btn @click="minusQuantity" elevation="10" icon>
        <v-icon>mdi-minus</v-icon>
      </v-btn>
      <v-btn @click="plusQuantity" elevation="10" icon>
        <v-icon>mdi-plus</v-icon>
      </v-btn>
    </v-row>
  </v-card>
</template>

<script>
export default {
  data: () => ({
    quantity: 0
  }),
  props: {
    product: {
      required: true,
      type: Object
    }
  },
  computed: {
    ingredients() {
      return this.dish.ingredients.join(', ')
    }
  },
  methods: {
    minusQuantity() {
      if (this.quantity != 0) this.quantity--
    },
    plusQuantity() {
      this.quantity++
    }
  }
}
</script>

<style>
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
</style>
