<template>
  <div>
    <div v-for="product of products" :key="product.id">
      <Product :product="product" />
    </div>
  </div>
</template>

<script>
import Product from '~/components/products/Product.vue'
export default {
  components: {
    Product
  },

  data: () => ({
    products: [
      {
        name: 'Pizza',
        img:
          'https://assets.afcdn.com/recipe/20160519/15342_w1024h768c1cx3504cy2338.webp',
        description: 'Lorem Ipsum Dolor Sit Amet',
        ingredients: ['Tomates', 'Basilic', 'Fromage', 'Jambon'],
        price: 20,
        retailPrice: 15,
        rating: 4.2,
        ratingsNumber: 134
      },
      {
        name: 'Pasta Carbonara',
        img:
          'https://www.galbani.fr/wp-content/uploads/2017/07/spaghetti-a-la-carbonara.jpg',
        description: 'Lorem Ipsum Dolor Sit Amet',
        ingredients: ['Pâtes', 'Oeuf', 'Parmiggiano Regiano', 'Pecorino'],
        price: 25,
        retailPrice: 20,
        rating: 5,
        ratingsNumber: 321
      }
    ]
  }),

  methods: {
    getRestaurants() {
      this.$axios.get()
    }
  }
}
</script>
