<template>
  <v-container fluid class="ma-0 pa-0">
    <div v-if="!$vuetify.breakpoint.mobile">
      <v-autocomplete
        class="searchBar"
        no-data-text="Pas de résultats"
        clearable
        v-model="searchValue"
        :items="restaurantsCity"
        placeholder="Choisissez votre ville"
      ></v-autocomplete>
      <v-row class="pa-0 ma-0" justify="start">
        <v-col
          v-for="restaurant of filteredRestaurantsList"
          :key="restaurant.id"
          class="pa-6 ma-0 d-flex child-flex"
          cols="3"
        >
          <v-skeleton-loader
            v-if="$fetchState.pending"
            elevation="10"
            height="400"
            width="100%"
            type="image, article"
          ></v-skeleton-loader>

          <Restaurant v-else :restaurant="restaurant" />
        </v-col>
      </v-row>
      <!-- <div class="text-center">
      <v-pagination
        v-model="page"
        :length="Math.ceil(filteredRestaurantsList.length / perPage)"
        circle
      ></v-pagination>
      </div>-->
    </div>
    <div v-if="$vuetify.breakpoint.mobile">
      <v-autocomplete
        class="searchBar mobile-bar"
        clearable
        v-model="searchValue"
        :items="restaurantsCity"
        placeholder="Choisissez votre ville"
      ></v-autocomplete>
      <v-row class="pa-0 ma-0" justify="start">
        <v-col
          v-for="restaurant of filteredRestaurantsList"
          :key="restaurant.id"
          class="pa-10 ma-0 d-flex child-flex"
        >
          <v-skeleton-loader
            v-if="$fetchState.pending"
            elevation="10"
            height="100%"
            width="100%"
            type="image, article"
          ></v-skeleton-loader>

          <!-- Displaying restaurant for customers -->
          <Restaurant v-else :restaurant="restaurant" />
        </v-col>
      </v-row>
    </div>
  </v-container>
</template>

<script>
import Swal from 'sweetalert2'
import { getRestaurants } from '~/utils/getRestaurants'
import Restaurant from '~/components/common/restaurants/Restaurant.vue'

export default {
  components: {
    Restaurant,
  },
  async fetch() {
    this.getFilteredRestaurants()
  },
  fetchDelay: 600,
  data() {
    return {
      restaurants: [],
      restaurantsCity: [],
      searchValue: '',
      page: 1,
      perPage: 12,
      visible: 6,
      restaurantsCount: 0,
    }
  },
  computed: {
    filteredRestaurantsList() {
      let filteredList = this.restaurants
      if (this.searchValue !== '' && this.searchValue !== null) {
        filteredList = this.restaurants.filter((restaurant) => {
          return (
            restaurant.city
              .toLowerCase()
              .indexOf(this.searchValue.toLowerCase()) != -1
          )
        })
      } else {
        filteredList = this.restaurants
      }
      return filteredList
    },
    visiblePages() {
      return this.restaurants.slice(
        (this.page - 1) * this.perPage,
        this.page * this.perPage
      )
    },
  },
  mounted() {
    this.$fetch()
  },
  methods: {
    callModal(restaurant) {
      Swal.fire({
        title: 'Êtes-vous sûr de vouloir supprimer ce restaurant ?',
        text: 'Vous ne pourrez plus revenir en arrière.',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#FF7E00',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Supprimer le restaurant',
      }).then((result) => {
        if (result.isConfirmed) {
          this.$axios
            .delete(`/restaurant/${restaurant.id}`)
            .then(() =>
              Swal.fire({
                title: 'Suppression effectuée',
                text: 'Le restaurant a bien été supprimé.',
                icon: 'success',
              })
            )
            .then(() => {
              return this.getFilteredRestaurants()
            })
            .then((restaurants) => {
              this.$fetchState.pending = false
              this.restaurants = restaurants
            })
        }
      })
    },
    getFilteredRestaurants() {
      getRestaurants(this.page).then((data) => {
        this.restaurants = data.restaurants
        this.restaurantsCount = data.count
        for (let x = 0; x < this.restaurants.length; x++) {
          this.restaurantsCity.push(this.restaurants[x].city)
        }
      })
    },
  },
}
</script>
<style scoped>
.searchBar {
  width: 60%;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
</style>
