<template>
  <v-card
    v-if="
      $route.path === '/erp/admin' &&
      ($route.hash === '#managers' || !$route.hash)
    "
    class="hover"
    color="grey lighten-3"
    elevation="10"
    outlined
    @click="$emit('add-to-manager', restaurant)"
  >
    <v-img contain :src="require('~/assets/fast_food_design.png')"></v-img>
    <v-card-title class="mx-3">{{ restaurant.name }}</v-card-title>
    <v-card-text class="mx-3">
      <v-row>
        <v-col cols="1">
          <v-icon>mdi-map-marker</v-icon>
        </v-col>
        <v-col cols="auto">
          <div>{{ restaurant.address }}</div>
          <div>{{ restaurant.city }} / {{ restaurant.zipCode }}</div>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="1">
          <v-icon>mdi-cellphone</v-icon>
        </v-col>
        <v-col cols="auto">
          <div>{{ restaurant.phone }}</div>
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>

  <v-card
    v-else-if="$route.path === '/erp/admin' && $route.hash === '#restaurants'"
    color="grey lighten-3"
    elevation="10"
    outlined
  >
    <v-row class="ma-1" justify="end">
      <v-col cols="auto">
        <v-icon class="hover ml-10" @click="callDeleteModal()" x-large
          >mdi-close-circle</v-icon
        >
      </v-col>
    </v-row>
    <div class="hover" @click="setRestaurant()">
      <v-img contain :src="require('~/assets/fast_food_design.png')"></v-img>
      <v-card-title class="mx-3">{{ restaurant.name }}</v-card-title>
      <v-card-text class="mx-3">
        <v-row>
          <v-col cols="1">
            <v-icon>mdi-map-marker</v-icon>
          </v-col>
          <v-col cols="auto">
            <div>{{ restaurant.address }}</div>
            <div>{{ restaurant.city }} / {{ restaurant.zipCode }}</div>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="1">
            <v-icon>mdi-cellphone</v-icon>
          </v-col>
          <v-col cols="auto">
            <div>{{ restaurant.phone }}</div>
          </v-col>
        </v-row>
      </v-card-text>
    </div>
  </v-card>

  <v-card v-else color="grey lighten-3" elevation="10" outlined>
    <v-row v-if="$auth.loggedIn" class="ma-1" justify="end">
      <v-col cols="auto">
        <v-icon
          v-if="!favorite"
          @click="addFavorite()"
          class="ml-10 hover"
          color="red"
          x-large
          >mdi-heart-outline</v-icon
        >
        <v-icon
          v-else
          @click="deleteFavorite()"
          class="ml-10 hover"
          color="red"
          x-large
          >mdi-heart</v-icon
        >
      </v-col>
    </v-row>
    <nuxt-link :to="`/restaurants/${restaurant.slug}`">
      <v-img contain :src="require('~/assets/fast_food_design.png')"></v-img>
      <v-card-title class="mx-3">{{ restaurant.name }}</v-card-title>
      <v-card-text class="mx-3">
        <v-row>
          <v-col cols="1">
            <v-icon>mdi-map-marker</v-icon>
          </v-col>
          <v-col cols="auto">
            <div>{{ restaurant.address }}</div>
            <div>{{ restaurant.city }} / {{ restaurant.zipCode }}</div>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="1">
            <v-icon>mdi-cellphone</v-icon>
          </v-col>
          <v-col cols="auto">
            <div>{{ restaurant.phone }}</div>
          </v-col>
        </v-row>
      </v-card-text>
    </nuxt-link>
  </v-card>
</template>

<script>
import Swal from 'sweetalert2'
export default {
  props: {
    restaurant: {
      required: true,
      type: Object,
    },
  },
  computed: {
    favorite() {
      if (this.$auth.loggedIn) {
        if (
          this.$auth.user.listFavorites &&
          Array.isArray(this.$auth.user.listFavorites) &&
          this.$auth.user.listFavorites.includes(this.restaurant.id)
        ) {
          return true
        } else return false
      } else return false
    },
  },

  methods: {
    callDeleteModal() {
      Swal.fire({
        title: 'Êtes-vous sûr de vouloir supprimer ce restaurant ?',
        text: 'Vous ne pourrez plus revenir en arrière.',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#FF7E00',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Supprimer le restaurant',
      }).then((result) => {
        if (result.isConfirmed) {
          this.$axios
            .delete(`/restaurant/${this.restaurant.id}`)
            .then(() =>
              Swal.fire({
                title: 'Suppression effectuée',
                text: 'Le restaurant a bien été supprimé.',
                icon: 'success',
              })
            )
            .then(() => {
              this.$emit('change-confirmed')
            })
        }
      })
    },
    addFavorite() {
      this.$axios
        .post(`/user/${this.$auth.user.id}/addfavorites/${this.restaurant.id}`)
        .then(() => this.$auth.fetchUser())
        .then(() => {
          if (this.$route.path === '/favoris') this.$emit('favorite-changed')
        })
    },
    deleteFavorite() {
      this.$axios
        .post(
          `/user/${this.$auth.user.id}/removefavorites/${this.restaurant.id}`
        )
        .then(() => this.$auth.fetchUser())
        .then(() => {
          if (this.$route.path === '/favoris') this.$emit('favorite-changed')
        })
    },
    setRestaurant() {
      this.$store.dispatch('restaurant/updateRestaurant', this.restaurant)
      Swal.fire({
        title: 'Restaurant sélectionné',
        text: 'Vous avez accès aux informations du restaurant.',
        icon: 'success',
      }).then(() => this.$emit('restaurant-set'))
    },
  },
}
</script>

<style scoped>
.swal2-popup {
  font-family: 'Roboto';
}
.hover:hover {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
}
</style>
