<template>
  <div>
    <div v-if="!nested">
      <v-card color="grey lighten-3" elevation="10" outlined>
        <div class="d-flex justify-space-between">
          <v-card-title class="mx-3">{{ ingredient.name }}</v-card-title>
          <v-col cols="auto">
            <v-icon class="ml-10" x-large @click="callModal(ingredient)"
              >mdi-close-circle</v-icon
            >
          </v-col>
        </div>
        <v-card-text class="mx-3">
          <v-row>
            <v-col class="mr-2" cols="1">
              <v-icon>mdi-tag-text-outline</v-icon>
            </v-col>
            <v-col cols="auto">
              <div>Numéro de lot : {{ ingredient.batchNumber }}</div>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="mr-2" cols="1">
              <v-icon>mdi-clock-alert-outline</v-icon>
            </v-col>
            <v-col cols="auto">
              <div>DLC : {{ ingredient.expirationDate }}</div>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="mr-2" cols="1">
              <v-icon>mdi-numeric</v-icon>
            </v-col>
            <v-col cols="auto">
              <div>Numéro de commande : {{ ingredient.order }}</div>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="mr-2" cols="1">
              <v-icon>mdi-currency-eur</v-icon>
            </v-col>
            <v-col cols="auto">
              <div>Coût d'achat : {{ ingredient.price }}</div>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="mr-2" cols="1">
              <v-icon>mdi-counter</v-icon>
            </v-col>
            <v-col cols="auto">
              <div>Quantité : {{ ingredient.quantity }}</div>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="1">
              <v-icon>mdi-account-arrow-right</v-icon>
            </v-col>
            <v-col cols="auto">
              <div>Fournisseur : {{ ingredient.supplier }}</div>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="1">
              <v-icon>mdi-calendar</v-icon>
            </v-col>
            <v-col cols="auto">
              <div>Date de livraison : {{ ingredient.supplyDate }}</div>
            </v-col>
          </v-row>
          <v-row justify="center">
            <v-col cols="auto">
              <ModalEditIngredient
                @change-confirmed="$emit('change-confirmed')"
                :ingredient="ingredient"
              />
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </div>

    <div v-else>
      <v-card
        @click="$emit('add-to-product', ingredient)"
        color="grey lighten-3"
        elevation="10"
        outlined
      >
        <v-card-title class="mx-3">{{ ingredient.name }}</v-card-title>
        <v-card-text class="mx-3">
          <v-row>
            <v-col class="mr-2" cols="1">
              <v-icon>mdi-tag-text-outline</v-icon>
            </v-col>
            <v-col cols="auto">
              <div>Numéro de lot : {{ ingredient.batchNumber }}</div>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="mr-2" cols="1">
              <v-icon>mdi-clock-alert-outline</v-icon>
            </v-col>
            <v-col cols="auto">
              <div>DLC : {{ ingredient.expirationDate }}</div>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="mr-2" cols="1">
              <v-icon>mdi-numeric</v-icon>
            </v-col>
            <v-col cols="auto">
              <div>Numéro de commande : {{ ingredient.order }}</div>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="mr-2" cols="1">
              <v-icon>mdi-currency-eur</v-icon>
            </v-col>
            <v-col cols="auto">
              <div>Coût d'achat : {{ ingredient.price }}</div>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="mr-2" cols="1">
              <v-icon>mdi-counter</v-icon>
            </v-col>
            <v-col cols="auto">
              <div>Quantité : {{ ingredient.quantity }}</div>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="1">
              <v-icon>mdi-account-arrow-right</v-icon>
            </v-col>
            <v-col cols="auto">
              <div>Fournisseur : {{ ingredient.supplier }}</div>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="1">
              <v-icon>mdi-calendar</v-icon>
            </v-col>
            <v-col cols="auto">
              <div>Date de livraison : {{ ingredient.supplyDate }}</div>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </div>
  </div>
</template>

<script>
import Swal from 'sweetalert2'
import ModalEditIngredient from '~/components/erp/manager/ingredients/ModalEditIngredient.vue'
export default {
  name: 'Ingredient',
  components: {
    ModalEditIngredient,
  },
  props: {
    nested: {
      required: false,
      type: Boolean,
      default: false,
    },
    ingredient: {
      required: true,
      type: Object,
    },
  },
  methods: {
    callModal(ingredient) {
      Swal.fire({
        title: 'Êtes-vous sûr de vouloir supprimer cet ingrédient ?',
        text: 'Vous ne pourrez plus revenir en arrière.',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#FF7E00',
        cancelButtonColor: '#d33',
        confirmButtonText: "Supprimer l'ingrédient",
      }).then((result) => {
        if (result.isConfirmed) {
          this.$axios
            .delete(
              `/restaurant/${this.$auth.user.restaurantId}/ingredient/${ingredient.id}`
            )
            .then(() =>
              Swal.fire({
                title: 'Suppression effectuée',
                text: "L'ingrédient a bien été supprimé.",
                icon: 'success',
              })
            )
            .then(() => {
              this.$emit('change-confirmed')
            })
        }
      })
    },
  },
}
</script>

<style>
.swal2-popup {
  font-family: 'Roboto';
}
</style>
