<template>
  <v-form>
    <v-container>
      <v-row>
        <v-col cols="12">
          <v-autocomplete
            class="searchBar"
            no-data-text="Pas de résultats"
            clearable
            v-model="searchValue"
            :items="ingredientsNames"
            placeholder="Rechercher un ingrédient par nom"
          ></v-autocomplete>

          <v-row class="pa-0 ma-0" justify="start">
            <v-col
              v-for="ingredient of filteredIngredientsList"
              :key="ingredient.id"
              class="pa-6 ma-0 d-flex child-flex"
              cols="4"
            >
              <v-row no no-gutters justify="end"
                >

                <v-col cols="auto">
                  <v-skeleton-loader
                    v-if="$fetchState.pending"
                    elevation="10"
                    height="400"
                    width="350"
                    type="image, article"
                  ></v-skeleton-loader>

                  <Ingredient
                    v-if="!$fetchState.pending"
                    @change-confirmed="changeConfirmed"
                    :ingredient="ingredient"
                  />
                </v-col>
              </v-row>
            </v-col>
          </v-row>

          <v-row justify="center">
            <v-col cols="auto">
              <ModalCreateIngredient @change-confirmed="changeConfirmed" />
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-container>
  </v-form>
</template>

<script>
import ModalCreateIngredient from '~/components/erp/manager/ingredients/ModalCreateIngredient.vue'
import Ingredient from '~/components/erp/manager/ingredients/Ingredient.vue'
export default {
  name: 'IngredientsManager',
  components: {
    ModalCreateIngredient,
    Ingredient,
  },
  async fetch() {
    await this.getIngredients()
  },
  data: () => ({
    ingredients: [],
    ingredientsNames: [],
    searchValue: null,
  }),
  fetchDelay: 600,
  computed: {
    filteredIngredientsList() {
      let filteredList = this.ingredients
      if (this.searchValue !== '' && this.searchValue !== null) {
        filteredList = this.ingredients.filter((ingredient) => {
          return (
            ingredient.name
              .toLowerCase()
              .indexOf(this.searchValue.toLowerCase()) != -1
          )
        })
      } else {
        filteredList = this.ingredients
      }
      return filteredList
    },
  },
  methods: {
    getIngredients() {
      this.$fetchState.pending = true
      this.$axios
        .get(`/restaurant/${this.$auth.user.restaurantId}/ingredients`)
        .then((result) => {
          this.ingredients = result.data
          for (let x = 0; x < this.ingredients.length; x++) {
            this.ingredientsNames.push(this.ingredients[x].name)
          }
        })
        .then(() => (this.$fetchState.pending = false))
    },
    changeConfirmed() {
      this.$fetchState.pending = true
      this.getIngredients()
    },
  },
}
</script>
<style scoped>
.searchBar {
  width: 40%;
  margin: 0 auto;
}
</style>
