<template>
  <Favorites />
</template>

<script>
import Favorites from '~/components/favorites/Favorites.vue'
export default {
  name: 'FavoritesPage',
  components: {
    Favorites,
  },
  middleware: 'auth',
}
</script>
