<template>
  <v-dialog unset v-model="dialog">
    <template v-slot:activator="{ on, attrs }">
      <v-btn color="#FF7E00" @click="getIngredients" v-bind="attrs" v-on="on"
        >Éditer le produit</v-btn
      >
    </template>
    <v-card>
      <v-card-title>
        <span class="text-h5">Produit</span>
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-row>
            <v-col cols="12">
              <v-text-field
                label="Nom du produit*"
                required
                v-model="form.name"
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field
                label="Note du produit*"
                required
                v-model="form.rating"
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field
                label="Prix du produit*"
                required
                v-model="form.price"
              >
              </v-text-field>
            </v-col>
            <v-col cols="12">
              <v-row>
                <div>Ingrédients :</div>
                <v-chip
                  class="mx-1"
                  v-for="ingredient of form.listIngredients"
                  :key="ingredient.id"
                  close
                  label
                  @click:close="removeIngredient(ingredient.id)"
                  >{{ ingredient.name }}</v-chip
                >
              </v-row>
              <v-row>
                <v-autocomplete
                  class="searchBar"
                  no-data-text="Pas de résultats"
                  clearable
                  v-model="searchValue"
                  :items="ingredientsNames"
                  placeholder="Rechercher un ingrédient par nom"
                ></v-autocomplete>
              </v-row>

              <v-row no-gutters justify="start">
                <v-col
                  v-for="ingredient of filteredIngredientsList"
                  :key="ingredient.id"
                  class="pa-6 ma-0 d-flex child-flex"
                  cols="4"
                >
                  <v-skeleton-loader
                    v-if="$fetchState.pending"
                    elevation="10"
                    height="400"
                    width="100%"
                    type="image, article"
                  ></v-skeleton-loader>

                  <Ingredient
                    :nested="true"
                    v-if="!$fetchState.pending"
                    @add-to-product="addToProduct(ingredient)"
                    :ingredient="ingredient"
                  />
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  <v-file-input
                    @change="onFileChange"
                    prepend-icon="mdi-camera"
                    clearable
                    accept="image/*"
                    label="Ajouter une image"
                    v-model="image"
                  ></v-file-input>
                </v-col>
              </v-row>
              <v-row>
                <v-col>
                  <v-img :src="imageUrl" />
                </v-col>
              </v-row>
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-row align="center">
          <v-col cols="auto">
            <v-btn color="#FF7E00" @click="confirmChanges()"
              >Valider les changements</v-btn
            >
          </v-col>
          <v-col cols="auto">
            <v-btn color="#FF7E00" @click="cancel()">Annuler</v-btn>
          </v-col>
        </v-row>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
import Swal from 'sweetalert2'
import Ingredient from '~/components/erp/manager/ingredients/Ingredient.vue'
export default {
  name: 'ModalEditProduct',
  components: {
    Ingredient,
  },
  props: {
    product: {
      type: Object,
      required: true,
    },
  },
  async fetch() {
    await this.getIngredients()
  },
  data: () => ({
    dialog: false,
    searchValue: null,
    image: null,
    ingredientsNames: [],
    ingredients: [],
    imageUrl: null,
    form: {},
  }),
  computed: {
    filteredIngredientsList() {
      let filteredList = this.ingredients
      if (this.searchValue !== '' && this.searchValue !== null) {
        filteredList = this.ingredients.filter((ingredient) => {
          return (
            ingredient.name
              .toLowerCase()
              .indexOf(this.searchValue.toLowerCase()) != -1
          )
        })
      } else {
        filteredList = this.ingredients
      }
      return filteredList
    },
  },
  mounted() {
    this.setData()
  },
  methods: {
    close() {
      this.$emit('close')
    },
    confirmChanges() {
      const listIngredients = []
      this.form.listIngredients.forEach((ingredient) => {
        listIngredients.push(ingredient.id)
      })
      this.form.listIngredients = listIngredients
      this.$axios
        .put(
          `/restaurant/${this.$auth.user.restaurantId}/product/${this.product.id}`,
          this.form
        )
        .then(() => this.$emit('change-confirmed'))
      this.dialog = false
    },
    addToProduct(ingredient) {
      this.form.listIngredients.push(ingredient)
      Swal.fire({
        title: 'Ingrédient ajouté avec succès.',
        icon: 'success',
        timer: '1000',
        showConfirmButton: false,
      })
    },
    createImage(file) {
      const reader = new FileReader()
      reader.onload = (e) => {
        this.imageUrl = e.target.result
      }
      reader.readAsDataURL(file)
    },
    onFileChange(file) {
      if (!file) {
        return
      }
      this.createImage(file)
    },
    setData() {
      this.imageUrl = this.product.photoString
      this.form = { ...this.product }
      this.getProductIngredients()
    },
    getProductIngredients() {
      this.$axios
        .get(`/product/${this.product.id}/ingredients`)
        .then((result) => {
          this.form.listIngredients = result.data
        })
    },
    getIngredients() {
      this.$fetchState.pending = true
      this.$axios
        .get(`/restaurant/${this.$auth.user.restaurantId}/ingredients`)
        .then((result) => {
          this.ingredients = result.data
          for (let x = 0; x < this.ingredients.length; x++) {
            this.ingredientsNames.push(this.ingredients[x].name)
          }
        })
        .then(() => {
          this.$fetchState.pending = false
        })
    },
    removeIngredient(ingredientId) {
      let index = null
      for (const [i, value] of this.form.listIngredients.entries()) {
        if (value.id === ingredientId) {
          index = i
        }
      }
      this.form.listIngredients.splice(index, 1)
    },
    cancel() {
      this.form = {}
      this.dialog = false
    },
  },
}
</script>
