<template>
  <div>
    <div v-if="!nested">
      <v-card color="grey lighten-3" elevation="10" outlined>
        <div class="d-flex justify-space-between">
          <v-card-title class="mx-3">{{ product.name }}</v-card-title>
          <v-col cols="auto">
            <v-icon class="ml-10" x-large @click="callModal(product)"
              >mdi-close-circle</v-icon
            >
          </v-col>
        </div>
        <v-img height="250" contain :src="product.photoString"></v-img>
        <v-card-text class="mx-3">
          <v-row>
            <v-col class="mr-2" cols="1">
              <v-icon>mdi-star</v-icon>
            </v-col>
            <v-col cols="auto">
              <div>Rating : {{ product.rating }}</div>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="mr-2" cols="1">
              <v-icon>mdi-view-list-outline</v-icon>
            </v-col>
            <v-col cols="auto">
              Ingrédients :
              <v-chip
                v-for="ingredient of ingredients"
                :key="ingredient.id"
                class="mx-1"
                label
                >{{ ingredient.name }}</v-chip
              >
            </v-col>
          </v-row>
          <v-row>
            <v-col class="mr-2" cols="1">
              <v-icon>mdi-currency-eur</v-icon>
            </v-col>
            <v-col cols="auto">
              <div>Prix : {{ product.price }}</div>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="mr-2" cols="1">
              <v-icon>mdi-message-outline</v-icon>
            </v-col>
            <v-col cols="auto">
              <div>Commentaires : {{ product.comments }}</div>
            </v-col>
          </v-row>
          <v-row justify="center">
            <v-col cols="auto">
              <ModalEditProduct
                @change-confirmed="$emit('change-confirmed')"
                :product="product"
                :ingredients="ingredients"
              />
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </div>

    <div v-else>
      <v-card
        @click="$emit('add-to-menu', product)"
        color="grey lighten-3"
        elevation="10"
        outlined
      >
        <v-img height="250" contain :src="product.photoString"></v-img>
        <v-card-title class="mx-3">{{ product.name }}</v-card-title>
        <v-card-text class="mx-3">
          <v-row>
            <v-col class="mr-2" cols="1">
              <v-icon>mdi-star</v-icon>
            </v-col>
            <v-col cols="auto">
              <div>Rating : {{ product.rating }}</div>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="mr-2" cols="1">
              <v-icon>mdi-view-list-outline</v-icon>
            </v-col>
            <v-col cols="auto">
              Ingrédients :
              <v-chip
                v-for="ingredient of ingredients"
                :key="ingredient.id"
                class="mx-1"
                label
                >{{ ingredient.name }}</v-chip
              >
            </v-col>
          </v-row>
          <v-row>
            <v-col class="mr-2" cols="1">
              <v-icon>mdi-currency-eur</v-icon>
            </v-col>
            <v-col cols="auto">
              <div>Prix : {{ product.price }}</div>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="mr-2" cols="1">
              <v-icon>mdi-message-outline</v-icon>
            </v-col>
            <v-col cols="auto">
              <div>Commentaires : {{ product.comments }}</div>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </div>
  </div>
</template>

<script>
import Swal from 'sweetalert2'
import ModalEditProduct from '~/components/erp/manager/products/ModalEditProduct.vue'
export default {
  name: 'Product',
  components: {
    ModalEditProduct,
  },
  props: {
    nested: {
      required: false,
      type: Boolean,
      default: false,
    },
    product: {
      required: true,
      type: Object,
    },
  },
  async fetch() {
    this.getProductIngredients()
  },
  data: () => ({
    ingredients: [],
  }),
  methods: {
    addToMenu() {
      this.$emit('add-to-menu', this.product)
    },
    getProductIngredients() {
      this.$axios
        .get(`/product/${this.product.id}/ingredients`)
        .then((result) => {
          this.ingredients = result.data
        })
    },
    callModal(product) {
      Swal.fire({
        title: 'Êtes-vous sûr de vouloir supprimer ce produit ?',
        text: 'Vous ne pourrez plus revenir en arrière.',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#FF7E00',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Supprimer le produit',
      }).then((result) => {
        if (result.isConfirmed) {
          this.$axios
            .delete(
              `/restaurant/${this.$auth.user.restaurantId}/product/${product.id}`
            )
            .then(() =>
              Swal.fire({
                title: 'Suppression effectuée',
                text: 'Le produit a bien été supprimé.',
                icon: 'success',
              })
            )
            .then(() => {
              this.$emit('change-confirmed')
            })
        }
      })
    },
  },
}
</script>

<style>
.swal2-popup {
  font-family: 'Roboto';
}
</style>
