<template>
  <v-row class="d-flex justify-center align-center" no-gutters>
    <v-col cols="8">
      <v-form ref="form" v-model="valid">
        <v-text-field
          v-model="form.email"
          :rules="emailRules"
          label="E-mail"
          autocomplete="off"
          required
        ></v-text-field>
        <v-text-field
          v-model="form.password"
          :rules="passwordRules"
          type="password"
          label="Mot de passe"
          autocomplete="off"
          required
        ></v-text-field>
        <v-text-field
          v-model="form.confirmPassword"
          :rules="confirmPasswordRules"
          type="password"
          label="Confirmer votre mot de passe"
          autocomplete="off"
          required
        ></v-text-field>
        <v-text-field
          v-model="form.firstName"
          :rules="firstNameRules"
          label="Prénom"
          required
        ></v-text-field>
        <v-text-field
          v-model="form.lastName"
          :rules="lastNameRules"
          label="Nom"
          required
        ></v-text-field>
        <v-text-field
          v-model="form.city"
          :rules="cityRules"
          label="Ville"
          required
        ></v-text-field>
        <v-text-field
          v-model="form.zipcode"
          :rules="zipcodeRules"
          label="Code Postal"
          required
        ></v-text-field>
        <v-text-field
          v-model="form.address"
          :rules="addressRules"
          label="Adresse"
          required
        ></v-text-field>
        <v-text-field
          v-model="form.phone"
          :rules="phoneRules"
          label="Téléphone"
          required
        ></v-text-field>
        <v-item-group class="d-flex justify-center">
          <v-btn
            :disabled="!valid"
            color="success"
            class="mr-4"
            @click="sendForm"
            >S'inscrire</v-btn
          >
          <v-btn color="error" class="mr-4" @click="reset">Réinitialiser</v-btn>
        </v-item-group>
      </v-form>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'SignUp',
  data() {
    return {
      valid: false,
      form: {
        email: '',
        password: '',
        confirmPassword: '',
        firstName: '',
        lastName: '',
        city: '',
        zipcode: '',
        address: '',
        phone: '',
      },
      error: null,
      emailRules: [
        (v) => !!v || 'Un e-mail est requis',
        (v) => /.+@.+\..+/.test(v) || "L'e-mail doit être valide",
      ],
      passwordRules: [
        (v) => !!v || 'Un mot de passe est requis',
        (v) =>
          /^(?=.*\d)(?=.*[A-Z])(?=.*[a-z])(?=.*[^\w\d\s:])([^\s]){8,16}$/gm.test(
            v
          ) ||
          'Le mot de passe requiert une majuscule, une minuscule, un nombre et un caractère spécial',
      ],
      confirmPasswordRules: [
        (v) => !!v || 'Le mot de passe doit être confirmé',
        (v) => v === this.form.password || 'Le mot de passe ne correspond pas',
      ],
      firstNameRules: [(v) => !!v || 'Prénom requis'],
      lastNameRules: [(v) => !!v || 'Nom requis'],
      cityRules: [(v) => !!v || 'Ville requise'],
      zipcodeRules: [(v) => !!v || 'Code postal requis'],
      addressRules: [(v) => !!v || 'Adresse requise'],
      phoneRules: [(v) => !!v || 'Téléphone requis'],
    }
  },
  methods: {
    async sendForm() {
      try {
        const headers = { 'content-type': 'application/json' }
        await this.$axios.post(
          'auth/signup',
          {
            email: this.form.email,
            firstName: this.form.firstName,
            lastName: this.form.lastName,
            password: this.form.password,
            city: this.form.city,
            zipcode: this.form.zipcode,
            address: this.form.address,
            phone: this.form.phone,
            level: 'customer',
          },
          { headers }
        )
        await this.$auth
          .loginWith('local', {
            data: {
              email: this.form.email,
              password: this.form.password,
            },
          })
          .then(this.$router.push('/'))
      } catch (e) {
        this.error = e.response.data.message
      }
    },
    reset() {
      this.$refs.form.reset()
      this.valid = false
    },
  },
}
</script>
