<template>
  <v-bottom-navigation fixed>
    <v-row justify="space-around" align="center" no-gutters>
      <v-col justify="space-around" align="center">
        <nuxt-link
          to="/"
          class="d-flex flex-column-reverse justify-center text-decoration-none"
        >
          <span>Accueil</span>
          <v-icon aria-hidden="true" class="v-icon notranslate" color="#FF7E00"
            >mdi-home</v-icon
          >
        </nuxt-link>
      </v-col>
      <v-col justify="space-around" align="center">
        <nuxt-link
          to="/restaurants"
          class="d-flex flex-column-reverse justify-center text-decoration-none"
        >
          <span>Restaurants</span>
          <v-icon aria-hidden="true" class="v-icon notranslate" color="#FF7E00"
            >mdi-food</v-icon
          >
        </nuxt-link>
      </v-col>
      <v-col justify="space-around" align="center" v-if="!$auth.loggedIn">
        <nuxt-link
          to="/login"
          class="d-flex flex-column-reverse justify-center text-decoration-none"
        >
          <span>Connexion</span>
          <v-icon aria-hidden="true" class="v-icon notranslate" color="#FF7E00"
            >mdi-login</v-icon
          >
        </nuxt-link>
      </v-col>
      <template v-else>
        <v-col justify="space-around" align="center">
          <nuxt-link
            to="/profil"
            class="
              d-flex
              flex-column-reverse
              justify-center
              text-decoration-none
            "
          >
            <span>Profil</span>
            <v-icon
              aria-hidden="true"
              class="v-icon notranslate"
              color="#FF7E00"
              >mdi-account</v-icon
            >
          </nuxt-link>
        </v-col>
        <v-col justify="space-around" align="center">
          <div
            to="/"
            @click="logout()"
            class="
              d-flex
              flex-column-reverse
              justify-center
              text-decoration-none
            "
          >
            <span>Déconnexion</span>
            <v-icon
              aria-hidden="true"
              class="v-icon notranslate"
              color="#FF7E00"
              >mdi-logout</v-icon
            >
          </div>
        </v-col>
      </template>
    </v-row>
  </v-bottom-navigation>
</template>

<script>
export default {
  components: {},
  computed: {},
  methods: {
    async logout() {
      await this.$auth.logout()
    },
  },
}
</script>

<style scoped>
span {
  color: rgba(0, 0, 0, 0.6);
}

a.nuxt-link-active span {
  color: #ff7e00;
}
</style>
