<template>
  <v-form>
    <v-container>
      <v-row>
        <v-col cols="12">
          <v-autocomplete
            class="searchBar"
            no-data-text="Pas de résultats"
            clearable
            v-model="searchValue"
            :items="menusNames"
            placeholder="Rechercher un menu par nom"
          ></v-autocomplete>

          <v-row class="pa-0 ma-0" justify="start">
            <v-col
              v-for="menu of filteredMenusList"
              :key="menu.id"
              class="pa-6 ma-0 d-flex child-flex"
              cols="4"
            >
              <v-row no-gutters justify="end" align="start">
                <v-col cols="auto"></v-col>

                <v-col cols="auto">
                  <v-skeleton-loader
                    v-if="$fetchState.pending"
                    elevation="10"
                    height="400"
                    width="350"
                    type="image, article"
                  ></v-skeleton-loader>

                  <Menu
                    v-if="!$fetchState.pending"
                    @change-confirmed="changeConfirmed"
                    :menu="menu"
                  />
                </v-col>
              </v-row>
            </v-col>
          </v-row>

          <v-row justify="center">
            <v-col cols="auto">
              <ModalCreateMenu @change-confirmed="changeConfirmed" />
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-container>
  </v-form>
</template>

<script>
import Menu from '~/components/erp/admin/menus/Menu.vue'
import ModalCreateMenu from '~/components/erp/admin/menus/ModalCreateMenu.vue'
export default {
  name: 'MenusManager',
  components: {
    Menu,
    ModalCreateMenu,
  },
  async fetch() {
    await this.getMenus()
  },
  data: () => ({
    menus: [],
    menusNames: [],
    searchValue: null,
    form: {
      name: null,
      comments: null,
      listIngredients: null,
      price: null,
      rating: null,
    },
  }),
  fetchDelay: 600,
  computed: {
    restaurant() {
      return this.$store.state.restaurant.restaurant
    },
    filteredMenusList() {
      let filteredList = this.menus
      if (this.searchValue !== '' && this.searchValue !== null) {
        filteredList = this.menus.filter((menu) => {
          return (
            menu.name.toLowerCase().indexOf(this.searchValue.toLowerCase()) !=
            -1
          )
        })
      } else {
        filteredList = this.menus
      }
      return filteredList
    },
  },
  methods: {
    getMenus() {
      this.$fetchState.pending = true
      this.$axios
        .get(`/restaurant/${this.restaurant.id}/menus`)
        .then((result) => {
          this.menus = result.data
          for (let x = 0; x < this.menus.length; x++) {
            this.menusNames.push(this.menus[x].name)
          }
        })
        .then(() => (this.$fetchState.pending = false))
    },
    changeConfirmed() {
      this.$fetchState.pending = true
      this.getMenus()
    },
  },
}
</script>
<style scoped>
.searchBar {
  width: 40%;
  margin: 0 auto;
}
</style>
