<template>
  <v-container fluid class="ma-0 pa-0">
    <v-row class="pa-0 ma-0" justify="start">
      <v-col
        v-for="manager of managers"
        :key="manager.id"
        class="pa-6 ma-0 d-flex child-flex"
        cols="3"
      >
        <v-skeleton-loader
          v-if="$fetchState.pending"
          elevation="10"
          height="400"
          width="100%"
          type="image, article"
        ></v-skeleton-loader>

        <Manager v-else :manager="manager" />
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-col cols="auto">
        <ModalCreateManager @change-confirmed="changeConfirmed" />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import Swal from 'sweetalert2'
import { getUsersByLevel } from '~/utils/getUsersByLevel'
import Manager from '~/components/erp/admin/managers/Manager.vue'
import ModalCreateManager from '~/components/erp/admin/managers/ModalCreateManager.vue'

export default {
  name: 'ManagerList',
  components: {
    Manager,
    ModalCreateManager,
  },
  data: () => ({
    managers: [],
  }),
  async fetch() {
    getUsersByLevel('Manager', this.$auth.strategy.token.get()).then(
      (managers) => (this.managers = managers)
    )
  },
  fetchDelay: 600,
  methods: {
    callModal(manager) {
      Swal.fire({
        title: 'Êtes-vous sûr de vouloir supprimer ce compte Manager ?',
        text: 'Vous ne pourrez plus revenir en arrière.',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#FF7E00',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Supprimer le compte Manager',
      }).then((result) => {
        if (result.isConfirmed) {
          this.$axios
            .delete(`/user/${manager.id}`)
            .then(() =>
              Swal.fire({
                title: 'Suppression effectuée',
                text: 'Le compte Manager a bien été supprimé.',
                icon: 'success',
              })
            )
            .then(() => {
              this.$fetchState.pending = true
              return getUsersByLevel('Manager', this.$auth.strategy.token.get())
            })
            .then((managers) => {
              this.managers = managers
              this.$fetchState.pending = false
            })
        }
      })
    },
    changeConfirmed() {},
  },
}
</script>
