<template>
  <v-card color="grey lighten-3" elevation="10" tile>
    <v-row class="ma-1" justify="end">
      <v-col cols="auto">
        <v-icon class="hover ml-10" @click="callDeleteModal()" x-large
          >mdi-close-circle</v-icon
        >
      </v-col>
    </v-row>

    <v-img
      height="250"
      contain
      :src="require('~/assets/fast_food_design.png')"
    ></v-img>
    <v-card-title class="mx-3"
      >{{ manager.firstName }} {{ manager.lastName }}</v-card-title
    >
    <v-card-text class="mx-3">
      <v-row>
        <v-col cols="1">
          <v-icon>mdi-map-marker</v-icon>
        </v-col>
        <v-col cols="auto">
          <div>{{ manager.address }}</div>
          <div>{{ manager.city }} / {{ manager.zipCode }}</div>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="1">
          <v-icon>mdi-cellphone</v-icon>
        </v-col>
        <v-col cols="auto">{{ manager.phone }}</v-col>
      </v-row>
      <v-row v-if="restaurant">
        <v-col>Manager de {{ restaurant.name }} à {{ restaurant.city }}</v-col>
      </v-row>
      <v-row justify="center">
        <v-col cols="auto">
          <ModalEditManager
            @change-confirmed="$emit('change-confirmed')"
            :manager="manager"
          />
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</template>

<script>
import Swal from 'sweetalert2'
import ModalEditManager from '~/components/erp/admin/managers/ModalEditManager.vue'
export default {
  name: 'Manager',
  components: {
    ModalEditManager,
  },
  props: {
    manager: {
      required: true,
      type: Object,
    },
  },
  async fetch() {
    if (this.manager.restaurantId) {
      await this.$axios
        .get(`/restaurant/${this.manager.restaurantId}`)
        .then((result) => {
          this.restaurant = result.data
        })
    }
  },
  data: () => ({
    restaurant: null,
  }),
  mounted() {
    this.$fetch()
  },
  methods: {
    callDeleteModal() {
      Swal.fire({
        title: 'Êtes-vous sûr de vouloir supprimer ce profil manager ?',
        text: 'Vous ne pourrez plus revenir en arrière.',
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#FF7E00',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Supprimer le profil manager',
      }).then((result) => {
        if (result.isConfirmed) {
          this.$axios
            .delete(`/user/${this.manager.id}`)
            .then(() =>
              Swal.fire({
                title: 'Suppression effectuée',
                text: 'Le profil manager a bien été supprimé.',
                icon: 'success',
              })
            )
            .then(() => {
              this.$emit('change-confirmed')
            })
        }
      })
    },
  },
}
</script>

<style scoped>
.hover:hover {
  cursor: pointer;
}
</style>
