<template>
  <v-dialog unset v-model="dialog">
    <template v-slot:activator="{ on, attrs }">
      <v-btn color="#FF7E00" v-bind="attrs" v-on="on">Créer un manager</v-btn>
    </template>
    <v-card>
      <v-card-title>
        <span class="text-h5">Manager</span>
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-row>
            <v-col cols="12">
              <v-text-field
                label="Prénom*"
                required
                v-model="form.firstName"
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field
                label="Nom*"
                required
                v-model="form.lastName"
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field
                label="Email*"
                required
                v-model="form.email"
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field
                label="Mot de passe*"
                required
                v-model="form.password"
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field
                label="Adresse*"
                required
                v-model="form.address"
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field
                label="Ville*"
                required
                v-model="form.city"
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field
                label="Code postal*"
                required
                v-model="form.zipcode"
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field
                label="Téléphone*"
                required
                v-model="form.phone"
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field
                v-model="selectedRestaurant.name"
                label="Restaurant*"
                required
                readonly
              ></v-text-field>
              <v-autocomplete
                class="searchBar"
                no-data-text="Pas de résultats"
                clearable
                v-model="searchValue"
                :items="restaurantsCity"
                placeholder="Choisissez une ville"
              ></v-autocomplete>
              <v-row class="pa-0 ma-0" justify="start">
                <v-col
                  v-for="restaurant of filteredRestaurantsList"
                  :key="restaurant.id"
                  class="pa-6 ma-0 d-flex child-flex"
                  cols="3"
                >
                  <v-skeleton-loader
                    v-if="$fetchState.pending"
                    elevation="10"
                    height="400"
                    width="100%"
                    type="image, article"
                  ></v-skeleton-loader>

                  <Restaurant
                    v-else
                    @add-to-manager="addToManager"
                    :restaurant="restaurant"
                  />
                </v-col>
              </v-row>
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>
      <v-row justify="center">
        <v-col cols="auto">
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-row justify="center">
              <v-col cols="auto">
                <v-btn color="#FF7E00" @click="confirmChanges"
                  >Valider la création du manager</v-btn
                >
              </v-col>
              <v-col cols="auto">
                <v-btn color="#FF7E00" @click="reset()">Annuler</v-btn>
              </v-col>
            </v-row>
          </v-card-actions>
        </v-col>
      </v-row>
    </v-card>
  </v-dialog>
</template>

<script>
import Swal from 'sweetalert2'
import { getRestaurants } from '~/utils/getRestaurants'
import Restaurant from '~/components/common/restaurants/Restaurant.vue'
export default {
  name: 'ModalCreateManager',
  components: {
    Restaurant,
  },

  async fetch() {
    this.getFilteredRestaurants()
  },

  data: () => ({
    dialog: false,
    form: {},
    restaurants: [],
    restaurantsCity: [],
    searchValue: null,
    selectedRestaurant: {},
  }),

  computed: {
    filteredRestaurantsList() {
      let filteredList = this.restaurants
      if (this.searchValue !== '' && this.searchValue !== null) {
        filteredList = this.restaurants.filter((restaurant) => {
          return (
            restaurant.city
              .toLowerCase()
              .indexOf(this.searchValue.toLowerCase()) != -1
          )
        })
      } else {
        filteredList = this.restaurants
      }
      return filteredList
    },
    visiblePages() {
      return this.restaurants.slice(
        (this.page - 1) * this.perPage,
        this.page * this.perPage
      )
    },
  },

  mounted() {
    this.$fetch()
  },

  methods: {
    addToManager(restaurant) {
      this.selectedRestaurant = restaurant
      Swal.fire({
        title: 'Restaurant assigné au manager',
        icon: 'success',
        timer: '1000',
        showConfirmButton: false,
      })
    },
    close() {
      this.$emit('close')
    },
    confirmChanges() {
      this.form.level = 'Manager'
      this.form.restaurantId = this.selectedRestaurant.id
      this.$axios
        .post(`/auth/signup`, this.form)
        .then(() =>
          this.$axios.put(`setLevel?email=${this.form.email}&level=Manager`)
        )
        .then(() => this.$emit('change-confirmed'))
        .then(() =>
          Swal.fire({
            title: 'Manager créé avec succès.',
            icon: 'success',
            confirmButtonText: 'Ok',
            showConfirmButton: true,
          })
        )
      this.reset()
    },
    reset() {
      this.form = {}
      this.selectedRestaurant = {}
      this.dialog = false
    },
    getFilteredRestaurants() {
      getRestaurants().then((data) => {
        this.restaurants = data.restaurants
        this.restaurantsCount = data.count
        for (let x = 0; x < this.restaurants.length; x++) {
          this.restaurantsCity.push(this.restaurants[x].city)
        }
      })
    },
  },
}
</script>
