<template>
  <v-dialog v-model="dialog" max-width="600px">
    <template v-slot:activator="{ on, attrs }">
      <v-btn color="#FF7E00" v-bind="attrs" v-on="on">Éditer le manager</v-btn>
    </template>
    <v-card>
      <v-card-title>
        <span class="text-h5">Manager</span>
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-row>
            <v-col cols="12">
              <v-text-field
                label="Prénom*"
                required
                v-model="form.firstName"
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field
                label="Nom*"
                required
                v-model="form.lastName"
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field
                label="Email*"
                required
                v-model="form.email"
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field
                label="Mot de passe*"
                required
                v-model="form.password"
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field
                label="Numéro de commande*"
                required
                v-model="form.address"
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field
                label="Coût d'achat*"
                required
                v-model="form.city"
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field
                label="Quantité*"
                required
                v-model="form.zipcode"
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field
                label="Phone*"
                required
                v-model="form.phone"
              ></v-text-field>
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>
      <v-row justify="center">
        <v-col cols="auto">
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="#FF7E00" @click="cancel()">Annuler</v-btn>
            <v-btn color="#FF7E00" @click="confirmChanges()"
              >Valider les changements</v-btn
            >
          </v-card-actions>
        </v-col>
      </v-row>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: 'ModalEditManager',
  props: {
    manager: {
      type: Object,
      required: true,
    },
  },
  data: () => ({
    dialog: false,
    form: {},
  }),
  mounted() {
    this.setData()
  },
  methods: {
    close() {
      this.$emit('close')
    },
    confirmChanges() {
      this.$axios
        .put(`/user/${this.manager.id}`, this.form)
        .then(() => this.$emit('change-confirmed'))
      this.dialog = false
    },
    setData() {
      this.form = { ...this.manager }
      this.form.password = null
    },
    cancel() {
      this.setData = {}
      this.dialog = false
    },
  },
}
</script>
