<template>
  <div>
    <v-toolbar
      color="#FF7E00"
      dark
      flat
      class="d-flex justify-center align-center flex-column"
    >
      <template v-slot:extension>
        <v-tabs v-model="tab" align-with-title>
          <v-tabs-slider color="white"></v-tabs-slider>
          <v-tab
            :to="'#' + menuItem.link"
            v-for="menuItem in menuItems"
            :key="menuItem.title"
            >{{ menuItem.title }}</v-tab
          >
        </v-tabs>
      </template>
    </v-toolbar>
    <v-tabs-items v-model="tab">
      <v-tab-item value="menus">
        <RestaurantMenus />
      </v-tab-item>
      <v-tab-item value="products">
        <RestaurantProducts />
      </v-tab-item>
    </v-tabs-items>
  </div>
</template>

<script>
import RestaurantMenus from '~/components/common/restaurants/menus/RestaurantMenus'
import RestaurantProducts from '~/components/common/restaurants/products/RestaurantProducts'
export default {
  components: {
    RestaurantMenus,
    RestaurantProducts,
  },
  data() {
    return {
      tab: null,
      menuItems: [
        { title: 'Nos Menus', link: 'menus' },
        { title: 'Nos produits seuls', link: 'products' },
      ],
    }
  },
  mounted() {
    this.$axios
      .get(`/restaurant/slug/${this.$route.params.restaurantSlug}`)
      .then((result) => {
        this.$store.dispatch('restaurant/updateRestaurant', result.data)
      })
  },
}
</script>

<style lang="scss" scoped></style>
