<template>
  <div>
    <v-container class="mt-5 d-flex justify-center">
      <v-col cols="10" v-if="!$vuetify.breakpoint.mobile">
        <v-card class="pa-5 rounded-25">
          <v-form :disabled="isDisabled" class="form">
            <v-row>
              <v-text-field label="Nom" v-model="form.lastName"></v-text-field>
            </v-row>
            <v-row>
              <v-text-field label="Prénom" v-model="form.firstName"></v-text-field>
            </v-row>
            <v-row>
              <v-text-field label="Email" v-model="form.email"></v-text-field>
            </v-row>
            <v-row>
              <v-text-field label="Téléphone" v-model="form.phone"></v-text-field>
            </v-row>
            <v-row>
              <v-text-field label="Adresse" v-model="form.address"></v-text-field>
            </v-row>
            <v-row>
              <v-text-field label="Ville" v-model="form.city"></v-text-field>
            </v-row>
            <v-row>
              <v-text-field label="Code Postal" v-model="form.zipcode"></v-text-field>
            </v-row>
          </v-form>
          <div class="d-flex justify-center">
            <div v-if="!isDisabled">
              <v-btn @click="sendForm(form)">Valider</v-btn>
              <v-btn @click="cancelEdit()">Annuler</v-btn>
            </div>
            <v-btn v-else @click="editOn()">Éditer votre profil</v-btn>
          </div>
        </v-card>
      </v-col>
      <v-col cols="12" v-else>
        <v-card class="pa-5 rounded-25">
          <v-form :disabled="isDisabled" class="form">
            <v-row>
              <v-text-field label="Nom" v-model="form.lastName"></v-text-field>
            </v-row>
            <v-row>
              <v-text-field label="Prénom" v-model="form.firstName"></v-text-field>
            </v-row>
            <v-row>
              <v-text-field label="Email" v-model="form.email"></v-text-field>
            </v-row>
            <v-row>
              <v-text-field label="Téléphone" v-model="form.phone"></v-text-field>
            </v-row>
            <v-row>
              <v-text-field label="Adresse" v-model="form.address"></v-text-field>
            </v-row>
            <v-row>
              <v-text-field label="Ville" v-model="form.city"></v-text-field>
            </v-row>
            <v-row>
              <v-text-field label="Code Postal" v-model="form.zipcode"></v-text-field>
            </v-row>
          </v-form>
          <div class="d-flex justify-center">
            <div v-if="!isDisabled">
              <v-btn @click="sendForm(form)">Valider</v-btn>
              <v-btn @click="cancelEdit()">Annuler</v-btn>
            </div>
            <v-btn v-else @click="editOn()">Éditer votre profil</v-btn>
          </div>
        </v-card>
      </v-col>
    </v-container>
  </div>
</template>

<script>
import { getUserById } from '~/utils/getUserById'

export default {
  async fetch() {
    await getUserById(this.$auth.user.id, this.$auth.strategy.token.get()).then(
      data => {
        this.user = data
        this.setData()
      }
    )
  },
  data() {
    return {
      user: {},
      isDisabled: true,
      form: {
        lastName: null,
        firstName: null,
        address: null,
        city: null,
        email: null,
        phone: null,
        zipcode: null,
        id: null
      }
    }
  },
  methods: {
    editOn() {
      this.isDisabled = !this.isDisabled
    },
    cancelEdit() {
      this.setData()
      this.isDisabled = !this.isDisabled
    },
    setData() {
      this.form = { ...this.user }
    },
    async sendForm(form) {
      await this.$axios.put(`/user/${this.user.id}`, form).then(result => {
        this.user = result.data
      })
      this.isDisabled = !this.isDisabled
      this.setData()
    }
  }
}
</script>

<style lang="scss" scoped>
.v-form {
  width: 60%;
  margin: 20px auto;
}
.v-card {
  margin: 0 auto;
  width: 80%;
}
</style>