<template>
  <RestaurantList />
</template>

<script>
import RestaurantList from '~/components/common/restaurants/RestaurantList.vue'
export default {
  components: {
    RestaurantList
  }
}
</script>

<style lang="scss" scoped></style>
