<template>
  <ManagerERP />
</template>

<script>
import ManagerERP from '~/components/erp/manager/ManagerERP.vue'
export default {
  components: { ManagerERP },
  middleware: 'managerAuthorized',
}
</script>
