<template>
  <v-container class="mt-5 mt-5 d-flex justify-center">
    <v-col cols="9">
      <v-card class="form pa-5 rounded-25">
        <v-row class="justify-center">
          <v-col cols="5">
            <v-text-field
              label="Prénom*"
              v-model="form.firstName"
              required
            ></v-text-field>
          </v-col>
          <v-col cols="5">
            <v-text-field label="Nom*" v-model="form.lastName"></v-text-field>
          </v-col>
        </v-row>
        <v-row class="justify-center">
          <v-col cols="10">
            <v-text-field
              label="Adresse email*"
              v-model="form.from"
              required
              type="email"
            ></v-text-field>
          </v-col>
        </v-row>
        <v-row class="justify-center">
          <v-col cols="10">
            <v-text-field
              type="phone"
              label="Téléphone"
              v-model="form.phone"
            ></v-text-field>
          </v-col>
        </v-row>
        <v-row class="justify-center">
          <v-col cols="10">
            <v-text-field label="Objet*" v-model="form.subject"></v-text-field>
          </v-col>
        </v-row>
        <v-row class="justify-center">
          <v-col cols="10">
            <v-textarea label="Message*" v-model="form.message"></v-textarea>
          </v-col>
        </v-row>
      </v-card>
      <div class="d-flex justify-center mt-5">
        <div>
          <v-btn @click="sendForm(form)">Valider</v-btn>
          <v-btn @click="reset()">Réinitialiser</v-btn>
        </div>
      </div>
    </v-col>
  </v-container>
</template>

<script>
import Swal from 'sweetalert2'
export default {
  name: 'Contact',
  data: () => ({
    form: {
      firstName: null,
      lastName: null,
      message: null,
      from: null,
      subject: null,
      phone: null,
    },
  }),
  methods: {
    async sendForm(form) {
      await this.$axios.post('/contact', form).then(() => {
        Swal.fire({
          title: 'Message envoyé',
          icon: 'success',
          confirmButtonColor: '#FF7E00',
          confirmButtonText: 'Ok',
        })
        this.reset()
      })
    },
    reset() {
      this.form = {}
    },
  },
}
</script>
<style scoped>
.form-name {
  width: 150px;
}
</style>
