<template>
  <v-app>
    <Header v-if="!$vuetify.breakpoint.mobile" />
    <v-main>
      <v-container app class="mt-3 mx-0 px-0" fluid>
        <Nuxt />
      </v-container>
    </v-main>
    <Footer v-if="!$vuetify.breakpoint.mobile" />
    <Navigation v-if="$vuetify.breakpoint.mobile" />
  </v-app>
</template>

<script>
import Header from '~/components/layout/header/Header.vue'
import Footer from '~/components/layout/footer/Footer.vue'
import Navigation from '~/components/layout/mobile/Navigation.vue'
export default {
  name: 'default',
  components: {
    Header,
    Footer,
    Navigation,
  },
}
</script>

<style>
p {
  font-family: 'Roboto';
}
</style>
