<template>
  <v-row>
    <v-col>
      <v-row no-gutters align="start" justify="center">
        <Error />
      </v-row>
      <!-- <v-row class="mb-16" no-gutters align="start" justify="center">
        <NuxtLink to="/"> Home page </NuxtLink>
      </v-row>-->
    </v-col>
  </v-row>
</template>

<script>
import Error from '~/components/layout/Error'
export default {
  layout: 'empty',
  components: {
    Error
  },
  props: {
    error: {
      type: Object,
      default: null
    }
  },
  data() {
    return {
      pageNotFound: '404 Not Found',
      otherError: 'An error occurred'
    }
  },
  head() {
    const title =
      this.error.statusCode === 404 ? this.pageNotFound : this.otherError
    return {
      title
    }
  }
}
</script>

<style scoped>
h1 {
  font-size: 20px;
}
</style>
