<template>
  <v-container class="mt-5 mt-5 d-flex justify-center">
    <v-col cols="10">
      <v-card :disabled="!isEditing" class="form pa-5 rounded-25">
        <v-row>
          <v-text-field label="Nom du restaurant" v-model="form.name"></v-text-field>
        </v-row>
        <v-row>
          <v-text-field label="Raison sociale" v-model="form.socialName"></v-text-field>
        </v-row>
        <v-row>
          <v-text-field label="SIRET" v-model="form.siret"></v-text-field>
        </v-row>
        <v-row>
          <v-text-field label="Email" v-model="form.email"></v-text-field>
        </v-row>
        <v-row>
          <v-text-field label="phone" v-model="form.phone"></v-text-field>
        </v-row>
        <v-row>
          <v-text-field label="address" v-model="form.address"></v-text-field>
        </v-row>
        <v-row>
          <v-text-field label="city" v-model="form.city"></v-text-field>
        </v-row>
        <v-row>
          <v-text-field label="zipcode" v-model="form.zipCode"></v-text-field>
        </v-row>
      </v-card>
      <div class="d-flex justify-center mt-5">
        <div v-if="!isEditing">
          <v-btn @click="editOn()">Éditer le restaurant</v-btn>
        </div>
        <div v-else>
          <v-btn @click="sendForm(form)">Valider</v-btn>
          <v-btn @click="cancelEdit()">Annuler</v-btn>
        </div>
      </div>
    </v-col>
  </v-container>
</template>

<script>
export default {
  name: 'RestaurantManager',
  async fetch() {
    await this.$axios
      .get(`/restaurant/${this.$auth.user.restaurantId}`)
      .then(result => {
        this.restaurant = result.data
        this.setData()
      })
  },
  data: () => ({
    restaurant: {},
    isEditing: false,
    form: {
      name: null,
      address: null,
      city: null,
      email: null,
      phone: null,
      zipCode: null,
      socialName: null,
      siret: null,
      id: null
    }
  }),
  mounted() {
    this.setData()
  },
  methods: {
    editOn() {
      if (typeof this.restaurant === 'undefined') this.setData()
      this.isEditing = true
    },
    async sendForm(form) {
      await this.$axios
        .put(`/restaurant/${this.restaurant.id}`, form)
        .then(result => {
          this.restaurant = result.data
          this.isEditing = false
          this.setData()
        })
    },
    cancelEdit() {
      this.setData()
      this.isEditing = false
    },
    setData() {
      this.form = {
        name: this.restaurant.name,
        address: this.restaurant.address,
        city: this.restaurant.city,
        email: this.restaurant.email,
        phone: this.restaurant.phone,
        zipCode: this.restaurant.zipCode,
        socialName: this.restaurant.socialName,
        siret: this.restaurant.siret,
        id: this.restaurant.id
      }
    }
  }
}
</script>

<style scoped>
.form {
  margin: 0 auto;
  width: 60%;
}
</style>
