<template>
  <v-container fluid>
    <div v-if="!$vuetify.breakpoint.mobile">
      <v-row justify="center" align="center" no-gutters>
        <v-col cols="9">
          <v-row justify="space-around" align="center" no-gutters>
            <v-col cols="5">
              <v-img
                height="15vh"
                contain
                :src="require('~/assets/fast_food_delivery.png')"
              />
            </v-col>
            <v-col cols="7">
              <v-img
                height="65vh"
                contain
                :src="require('~/assets/fast_food_design.png')"
              />
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </div>
    <div v-else>
      <v-row class="flex-column align-center mobile-row" no-gutters>
        <v-img
          height="15vh"
          contain
          :src="require('~/assets/fast_food_delivery.png')"
        />
        <v-img
          height="65vh"
          contain
          :src="require('~/assets/fast_food_design.png')"
        />
      </v-row>
    </div>
  </v-container>
</template>

<script>
export default {
  components: {},
}
</script>

<style scoped>
/* .mobile-row {
  margin-top: 10%;
} */
</style>
