<template>
  <v-container fluid class="ma-0 pa-0">
    <div>
      <v-autocomplete
        class="searchBar"
        no-data-text="Pas de résultats"
        clearable
        v-model="searchValue"
        :items="restaurantsCity"
        placeholder="Choisissez la ville du restaurant qui vous intéresse"
      ></v-autocomplete>
      <v-row class="pa-0 ma-0" justify="start">
        <v-col
          v-for="restaurant of filteredRestaurantsList"
          :key="restaurant.id"
          class="pa-6 ma-0 d-flex child-flex"
          cols="3"
        >
          <v-skeleton-loader
            v-if="$fetchState.pending"
            elevation="10"
            height="400"
            width="100%"
            type="image, article"
          ></v-skeleton-loader>

          <Restaurant
            v-if="!$fetchState.pending"
            @change-confirmed="changeConfirmed()"
            @restaurant-set="$emit('restaurant-set')"
            :restaurant="restaurant"
          />
        </v-col>
      </v-row>
      <!-- <div class="text-center">
      <v-pagination  
        v-model="page"
        :length="Math.ceil(filteredRestaurantsList.length / perPage)"
        circle
      ></v-pagination>
      </div>-->
      <v-dialog unset v-model="dialog">
        <template v-slot:activator="{ on, attrs }">
          <v-row class="my-7" justify="center">
            <v-btn color="#FF7E00" v-bind="attrs" v-on="on"
              >Créer un restaurant</v-btn
            ></v-row
          >
        </template>
        <v-card>
          <v-card-title>
            <span class="text-h5">Restaurant</span>
          </v-card-title>
          <v-card-text>
            <v-container>
              <v-row>
                <v-col cols="12">
                  <v-text-field
                    label="Nom du restaurant*"
                    required
                    v-model="form.name"
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    label="Raison sociale du restaurant*"
                    required
                    v-model="form.socialName"
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    label="SIRET*"
                    required
                    v-model="form.siret"
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    label="Téléphone*"
                    required
                    v-model="form.phone"
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    label="Adresse email*"
                    required
                    v-model="form.email"
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    label="Ville*"
                    required
                    v-model="form.city"
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    label="Adresse*"
                    required
                    v-model="form.address"
                  ></v-text-field>
                </v-col>
                <v-col cols="12">
                  <v-text-field
                    label="Code postal*"
                    required
                    v-model="form.zipCode"
                  ></v-text-field>
                </v-col>
              </v-row>
            </v-container>
          </v-card-text>
          <v-row justify="center">
            <v-col cols="auto">
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-row justify="center">
                  <v-col cols="auto">
                    <v-btn color="#FF7E00" @click="confirmChanges()"
                      >Valider la création de restaurant</v-btn
                    >
                  </v-col>
                  <v-col cols="auto">
                    <v-btn color="#FF7E00" @click="cancel()">Annuler</v-btn>
                  </v-col>
                </v-row>
              </v-card-actions>
            </v-col>
          </v-row>
        </v-card>
      </v-dialog>
    </div>
  </v-container>
</template>

<script>
import Swal from 'sweetalert2'
import { getRestaurants } from '~/utils/getRestaurants'
import Restaurant from '~/components/common/restaurants/Restaurant.vue'

export default {
  name: 'AdminRestaurantList',
  components: {
    Restaurant,
  },
  async fetch() {
    this.getFilteredRestaurants()
  },
  fetchDelay: 600,
  data: () => ({
    tab: null,
    restaurants: [],
    restaurantsCity: [],
    searchValue: null,
    dialog: false,
    form: {
      name: null,
      address: null,
      city: null,
      email: null,
      phone: null,
      slug: '',
      socialName: null,
      zipCode: null,
      siret: null,
      endHours: [],
      startHours: [],
    },
  }),
  computed: {
    filteredRestaurantsList() {
      let filteredList = this.restaurants
      if (this.searchValue !== '' && this.searchValue !== null) {
        filteredList = this.restaurants.filter((restaurant) => {
          return (
            restaurant.city
              .toLowerCase()
              .indexOf(this.searchValue.toLowerCase()) != -1
          )
        })
      } else {
        filteredList = this.restaurants
      }
      return filteredList
    },
    restaurant() {
      return this.$store.state.restaurant.restaurant
    },
  },
  mounted() {
    this.$fetch()
  },
  methods: {
    changeConfirmed() {
      this.$fetch()
    },
    getFilteredRestaurants() {
      this.$fetchState.pending = true
      getRestaurants().then((data) => {
        this.restaurants = data.restaurants
        for (let x = 0; x < this.restaurants.length; x++) {
          this.restaurantsCity.push(this.restaurants[x].city)
        }
      })
      this.$fetchState.pending = false
    },
    confirmChanges() {
      this.$axios.post('/restaurant/create', this.form).then((result) =>
        Swal.fire({
          title: 'Restaurant créé',
          icon: 'success',
        }).then(() => {
          this.dialog = false
          this.form = {}
          this.$fetch()
        })
      )
    },

    cancel() {
      this.form = {}
      this.dialog = false
    },
  },
}
</script>

<style lang="scss" scoped>
.hover:hover {
  cursor: pointer;
}
</style>
