<template>
  <v-card v-if="!access">
    <v-toolbar color="#FF7E00" dark flat>
      <v-toolbar-title class="ml-6"
        >Votre tableau de bord Admin
      </v-toolbar-title>

      <v-spacer></v-spacer>

      <template v-slot:extension>
        <v-tabs v-model="tab" align-with-title>
          <v-tabs-slider color="white"></v-tabs-slider>

          <v-tab
            :to="'#' + menuItem.link"
            v-for="menuItem of menuItems"
            :key="menuItem.title"
            >{{ menuItem.title }}</v-tab
          >
        </v-tabs>
      </template>
    </v-toolbar>

    <v-tabs-items v-model="tab">
      <v-tab-item value="managers">
        <ManagerList />
      </v-tab-item>
      <v-tab-item value="restaurants">
        <AdminRestaurantList @restaurant-set="access = true" />
      </v-tab-item>
    </v-tabs-items>
  </v-card>

  <v-card v-else>
    <v-toolbar color="#FF7E00" dark flat>
      <v-toolbar-title class="ml-6"
        >Votre tableau de bord Admin : <br />Restaurant
        {{ restaurant.name }}</v-toolbar-title
      >

      <v-spacer></v-spacer>

      <template v-slot:extension>
        <v-tabs v-model="tab" align-with-title>
          <v-tabs-slider color="white"></v-tabs-slider>

          <v-tab
            :to="'#' + menuItem.link"
            v-for="menuItem in menuItems"
            :key="menuItem.title"
            >{{ menuItem.title }}</v-tab
          >
        </v-tabs>
      </template>
    </v-toolbar>

    <v-tabs-items v-model="tab">
      <v-tab-item value="managers">
        <ManagerList />
      </v-tab-item>
      <v-tab-item value="restaurants">
        <AdminRestaurantList @restaurant-set="access = true" />
      </v-tab-item>
      <v-tab-item value="restaurant">
        <RestaurantAdmin />
      </v-tab-item>
      <v-tab-item value="ingredients">
        <IngredientsAdmin />
      </v-tab-item>
      <v-tab-item value="produits">
        <ProductsAdmin />
      </v-tab-item>
      <v-tab-item value="menus">
        <MenusAdmin />
      </v-tab-item>
    </v-tabs-items>
  </v-card>

  <!-- <v-container v-else fluid class="ma-0 pa-0">
        <div v-if="!$vuetify.breakpoint.mobile">
        <v-autocomplete
            class="searchBar"
            no-data-text="Pas de résultats"
            clearable
            v-model="searchValue"
            :items="restaurantsCity"
            placeholder="Choisissez la ville du restaurant qui vous intéresse"
        ></v-autocomplete>
        <v-row class="pa-0 ma-0" justify="start">
            <v-col
            v-for="restaurant of filteredRestaurantsList"
            :key="restaurant.id"
            class="pa-6 ma-0 d-flex child-flex"
            cols="3"
            >
            <v-skeleton-loader
                v-if="$fetchState.pending"
                elevation="10"
                height="400"
                width="100%"
                type="image, article"
            ></v-skeleton-loader>

            <div class="hover" @click="setRestaurant(restaurant)">
                <Restaurant v-if="!$fetchState.pending" :restaurant="restaurant" />
            </div>
            </v-col>
        </v-row>
        </div>
    </v-container> -->
</template>

<script>
import ManagerList from '~/components/erp/admin/managers/ManagerList.vue'
import AdminRestaurantList from '~/components/erp/admin/AdminRestaurantList.vue'
import RestaurantAdmin from '~/components/erp/admin/restaurants/RestaurantAdmin.vue'
import IngredientsAdmin from '~/components/erp/admin/ingredients/IngredientsAdmin.vue'
import ProductsAdmin from '~/components/erp/admin/products/ProductsAdmin.vue'
import MenusAdmin from '~/components/erp/admin/menus/MenusAdmin.vue'

export default {
  name: 'AdminERP',
  components: {
    AdminRestaurantList,
    ManagerList,
    RestaurantAdmin,
    IngredientsAdmin,
    ProductsAdmin,
    MenusAdmin,
  },

  fetchDelay: 600,
  data: () => ({
    tab: null,
    searchValue: null,
    access: false,
  }),
  computed: {
    restaurant() {
      return this.$store.state.restaurant.restaurant
    },
    menuItems() {
      if (this.access) {
        return [
          { title: 'Managers', link: 'managers' },
          { title: 'Restaurants', link: 'restaurants' },
          { title: 'Restaurant', link: 'restaurant' },
          { title: 'Ingrédients', link: 'ingredients' },
          { title: 'Produits', link: 'produits' },
          { title: 'Menus', link: 'menus' },
        ]
      } else
        return [
          { title: 'Managers', link: 'managers' },
          { title: 'Restaurants', link: 'restaurants' },
        ]
    },
  },
}
</script>

<style lang="scss" scoped>
.hover:hover {
  cursor: pointer;
}
</style>
