<template>
  <v-dialog unset v-model="dialog">
    <template v-slot:activator="{ on, attrs }">
      <v-btn
        color="#FF7E00"
        large
        @click="getProductIngredients"
        v-bind="attrs"
        v-on="on"
        >Voir le détail</v-btn
      >
    </template>
    <v-card>
      <div
        v-for="ingredient of ingredientsList"
        :key="ingredient.id"
        class="d-flex flex-column justify-center align-center rounded-25 pa-5"
      >
        <v-card-title>{{ ingredient.name }}</v-card-title>
      </div>
    </v-card>
  </v-dialog>
</template>

<script>
import Ingredients from '~/components/erp/manager/ingredients/Ingredient'
export default {
  name: 'ModalDetailsMenu',
  components: {
    Ingredients,
  },
  props: {
    product: {
      type: Object,
      required: true,
    },
  },
  data: () => ({
    dialog: false,
    image: null,
    productsNames: [],
    products: [],
    imageUrl: null,
    ingredientsList: [],
  }),
  methods: {
    close() {
      this.$emit('close')
    },
    getProductIngredients() {
      this.$axios
        .get(`/product/${this.product.id}/ingredients`)
        .then((result) => {
          this.ingredientsList = result.data
        })
    },
  },
}
</script>

<style scoped>
.v-card {
  transition: unset;
}
.v-card:hover {
  transform: unset;
}
</style>
