<template>
  <div>
    <div v-if="!$vuetify.breakpoint.mobile">
      <v-container class="d-flex justify-space-around flex-wrap">
        <v-col cols="3" v-for="product of products" :key="product.id">
          <v-skeleton-loader
            v-if="$fetchState.pending"
            elevation="10"
            height="400"
            width="400"
            type="image, article"
          ></v-skeleton-loader>
          <v-row>
            <RestaurantProduct :restaurant="restaurant" :product="product" />
          </v-row>
        </v-col>
      </v-container>
    </div>
    <div v-else>
      <v-container
        class="d-flex flex-column justify-center align-center flex-wrap"
      >
        <v-col
          cols="auto"
          v-for="product of products"
          :key="product.id"
          class="mb-5"
        >
          <v-skeleton-loader
            v-if="$fetchState.pending"
            elevation="10"
            height="400"
            width="400"
            type="image, article"
          ></v-skeleton-loader>
          <v-row v-else>
            <RestaurantProduct :restaurant="restaurant" :product="product" />
          </v-row>
        </v-col>
      </v-container>
    </div>
  </div>
</template>

<script>
import RestaurantProduct from '~/components/common/restaurants/products/RestaurantProduct.vue'

export default {
  name: 'RestaurantProducts',
  components: {
    RestaurantProduct,
  },
  async fetch() {
    await this.$axios
      .get(`/restaurant/slug/${this.$route.params.restaurantSlug}`)
      .then((result) => (this.restaurant = result.data))
    await this.$axios
      .get('/restaurant/' + this.restaurant.id + '/products')
      .then((result) => {
        return (this.products = result.data)
      })
  },
  fetchDelay: 600,
  data: () => ({
    products: [],
    restaurant: {},
  }),
}
</script>
