<template>
  <v-card v-if="!$vuetify.breakpoint.mobile" class="rounded-25">
    <v-card-title>{{ product.name }}</v-card-title>
    <v-img height="250" contain :src="product.photoString"></v-img>
    <v-card-text>Prix : {{ product.price }} €</v-card-text>
    <v-row
      no-gutters
      class="d-flex flex-column justify-center mb-5 align-center"
    >
      <v-col cols="auto" class="mb-5">
        <ModalDetailsProduct :product="product" />
      </v-col>
      <v-col cols="auto">
        <v-row align="center" justify="space-between">
          <v-col cols="auto">
            <v-btn @click="minusQuantity()" elevation="2" icon class="mb-5">
              <v-icon>mdi-minus</v-icon>
            </v-btn>
          </v-col>
          <v-col cols="auto">
            <v-text-field
              type="number"
              v-model="quantity"
              readonly
              solo
              min="0"
              max="99"
            ></v-text-field>
          </v-col>
          <v-col cols="auto">
            <v-btn @click="plusQuantity()" elevation="2" icon class="mb-5">
              <v-icon>mdi-plus</v-icon>
            </v-btn>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-card>
  <v-card v-else class="rounded-25">
    <v-card-title>{{ product.name }}</v-card-title>
    <v-img height="250" contain :src="product.photoString"></v-img>
    <v-card-text>Prix : {{ product.price }} €</v-card-text>
    <v-row
      no-gutters
      class="d-flex flex-column justify-center mb-5 align-center"
    >
      <v-col cols="auto" class="mb-5">
        <ModalDetailsProduct :product="product" />
      </v-col>
      <v-col cols="auto">
        <v-row no-gutters class="d-flex justify-space-between align-center">
          <v-col cols="auto">
            <v-btn @click="minusQuantity" elevation="2" icon class="mb-5">
              <v-icon>mdi-minus</v-icon>
            </v-btn>
          </v-col>
          <v-col cols="auto">
            <v-text-field
              type="number"
              v-model="quantity"
              readonly
              min="0"
              max="99"
            ></v-text-field>
          </v-col>
          <v-col cols="auto">
            <v-btn @click="plusQuantity" elevation="2" icon class="mb-5">
              <v-icon>mdi-plus</v-icon>
            </v-btn>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-card>
</template>

<script>
import ModalDetailsProduct from '~/components/common/restaurants/products/ModalDetailsProduct.vue'
export default {
  name: 'RestaurantProduct',
  components: { ModalDetailsProduct },
  props: {
    product: {
      required: true,
      type: Object,
    },
  },

  computed: {
    orderItems() {
      return this.$store.state.cart.orderItems
    },
    quantity() {
      let index = null
      this.orderItems.forEach((orderItem, orderIndex) => {
        if (orderItem.item.id === this.product.id) {
          index = orderIndex
        }
      })
      if (index !== null) {
        return this.orderItems[index].quantity
      } else return 0
    },
  },

  methods: {
    plusQuantity() {
      this.$store.dispatch('cart/plusQuantity', this.product)
    },
    minusQuantity() {
      this.$store.dispatch('cart/minusQuantity', this.product)
    },
  },
}
</script>
