<template>
  <v-menu
    v-if="cart.orderItems.length > 0"
    :close-on-click="false"
    :close-on-content-click="false"
    offset-y
  >
    <template v-slot:activator="{ on, attrs }">
      <v-icon v-on="on" v-bind="attrs" x-large color="grey darken-3"
        >mdi-cart</v-icon
      >
    </template>
    <v-list>
      <v-row>
        <v-col>
          <v-list-item
            v-for="orderItem of cart.orderItems"
            :key="orderItem.item.id"
          >
            <OrderItem :orderItem="orderItem" />
          </v-list-item>
        </v-col>
      </v-row>
      <v-row class="mb-1" justify="center">
        <v-btn @click="emptyCart()">Vider le panier</v-btn></v-row
      >
      <v-row v-if="$auth.loggedIn" class="mb-1" justify="center"
        ><v-btn @click="sendOrder()">Commander</v-btn></v-row
      >
      <v-row justify="center" v-else>
        <nuxt-link to="/login">
          <v-btn>Se connecter</v-btn>
        </nuxt-link>
      </v-row>
    </v-list>
  </v-menu>

  <v-menu v-else-if="cart.orderItems.length === 0" offset-y>
    <template v-slot:activator="{ on, attrs }">
      <v-icon v-on="on" v-bind="attrs" x-large color="grey darken-3"
        >mdi-cart</v-icon
      >
    </template>
    <v-list>
      <v-row>
        <v-col>
          <v-list-item> Votre panier est vide ! </v-list-item>
        </v-col>
      </v-row>
    </v-list>
  </v-menu>
</template>

<script>
import dayjs from 'dayjs'
import Swal from 'sweetalert2'
import OrderItem from '~/components/cart/OrderItem.vue'
export default {
  name: 'Cart',
  components: {
    OrderItem,
  },
  computed: {
    cart() {
      return this.$store.state.cart
    },
    order() {
      const idList = []
      this.cart.orderItems.forEach((orderItem) => {
        idList.push(orderItem.item.id)
      })
      const totalTva = this.cart.totalPrice * 1.1 - this.cart.totalPrice
      const totalPrice = this.cart.totalPrice + totalTva
      return {
        date: dayjs(new Date()).format('DD-MM-YYYY / HH:mm:ss'),
        listMenu: [...idList],
        refunded: false,
        totalPrice: totalPrice,
        totalTva: totalTva,
      }
    },
    restaurant() {
      return this.$store.state.restaurant.restaurant
    },
  },
  methods: {
    sendOrder() {
      this.$axios
        .post(
          `/restaurant/${this.restaurant.id}/user/${this.$auth.user.id}/orders`,
          this.order
        )
        .then(() =>
          Swal.fire({
            title: 'Votre commande a été passée avec succès',
            text: 'Un récapitulatif de commande vous a été envoyé par email.',
            icon: 'success',
            confirmButtonColor: '#FF7E00',
            confirmButtonText: 'Ok',
          })
        )
        .then(() => this.emptyCart())
    },
    emptyCart() {
      this.$store.dispatch('cart/emptyCart')
    },
  },
}
</script>

<style scoped>
a {
  text-decoration: none;
}
</style>
