<template>
  <v-app-bar
    app
    elevation="0"
    absolute
    color="white"
    :height="height"
    class="ma-4"
  >
    <v-row align="center" justify="space-between">
      <v-col cols="2">
        <Logo />
      </v-col>
      <v-col cols="auto">
        <nuxt-link to="/">
          <v-btn text plain color="black">Accueil</v-btn>
        </nuxt-link>
        <nuxt-link to="/restaurants">
          <v-btn text plain color="black">Restaurants</v-btn>
        </nuxt-link>

        <nuxt-link to="/favoris">
          <v-btn text plain color="black">Favoris</v-btn>
        </nuxt-link>
      </v-col>
      <v-col cols="2">
        <v-row align="center" justify="center">
          <Cart />
          <div class="mx-3"></div>
          <User />
        </v-row>
      </v-col>
    </v-row>
  </v-app-bar>
</template>

<script>
import Logo from '~/components/layout/header/Logo.vue'
import User from '~/components/layout/header/User.vue'
import Cart from '~/components/layout/header/Cart.vue'

export default {
  name: 'Header',
  components: {
    Logo,
    User,
    Cart,
  },
  computed: {
    height() {
      switch (this.$vuetify.breakpoint.name) {
        case 'xs':
          return 60
        case 'sm':
          return 70
        case 'md':
          return 80
        case 'lg':
          return 85
        case 'xl':
          return 90
      }
    },
  },
}
</script>

<style scoped>
a {
  text-decoration: none;
}
</style>
