<template>
  <nuxt-link to="/">
    <v-img
      contain
      max-height="10vh"
      :src="require('~/assets/logo_the_good_food.png')"
    />
  </nuxt-link>
</template>

<script>
export default {
  name: 'Logo',
}
</script>

<style scoped></style>
