<template>
  <div class="text-center">
    <!-- If user is not logged in -->
    <v-menu v-if="!$auth.loggedIn" offset-y>
      <template v-slot:activator="{ on, attrs }">
        <v-icon v-on="on" v-bind="attrs" x-large color="grey darken-3"
          >mdi-account-circle</v-icon
        >
      </template>
      <v-list>
        <v-list-item
          v-for="menuItemLoggedOff in menuLoggedOff"
          :key="menuItemLoggedOff.title"
        >
          <nuxt-link
            style="text-decoration: none; color: inherit"
            :to="menuItemLoggedOff.link"
          >
            <v-list-item-title>
              {{ menuItemLoggedOff.title }}
            </v-list-item-title>
          </nuxt-link>
        </v-list-item>
      </v-list>
    </v-menu>

    <!-- If user if logged in and is Admin -->
    <v-menu v-else-if="$auth.loggedIn && $auth.user.level === 'Admin'" offset-y>
      <template v-slot:activator="{ on, attrs }">
        <v-icon v-on="on" v-bind="attrs" x-large color="grey darken-3"
          >mdi-account-circle</v-icon
        >
      </template>
      <v-list>
        <v-list-item
          v-for="menuItemLoggedIn in menuLoggedInAdmin"
          :key="menuItemLoggedIn.title"
        >
          <nuxt-link
            v-if="menuItemLoggedIn.title !== 'Se déconnecter'"
            style="text-decoration: none; color: inherit"
            :to="menuItemLoggedIn.link"
          >
            <v-list-item-title>
              {{ menuItemLoggedIn.title }}
            </v-list-item-title>
          </nuxt-link>
          <v-list-item-title style="cursor: pointer" v-else @click="logout()">
            {{ menuItemLoggedIn.title }}
          </v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>

    <!-- If user is logged in and is Manager -->
    <v-menu
      v-else-if="$auth.loggedIn && $auth.user.level === 'Manager'"
      offset-y
    >
      <template v-slot:activator="{ on, attrs }">
        <v-icon v-on="on" v-bind="attrs" x-large color="grey darken-3"
          >mdi-account-circle</v-icon
        >
      </template>
      <v-list>
        <v-list-item
          v-for="menuItemLoggedIn in menuLoggedInManager"
          :key="menuItemLoggedIn.id"
        >
          <nuxt-link
            v-if="menuItemLoggedIn.title !== 'Se déconnecter'"
            style="text-decoration: none; color: inherit"
            :to="menuItemLoggedIn.link"
          >
            <v-list-item-title>
              {{ menuItemLoggedIn.title }}
            </v-list-item-title>
          </nuxt-link>
          <v-list-item-title style="cursor: pointer" v-else @click="logout()">
            {{ menuItemLoggedIn.title }}
          </v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>

    <!-- If user is logged in and is Customer -->
    <v-menu v-else offset-y>
      <template v-slot:activator="{ on, attrs }">
        <v-icon v-on="on" v-bind="attrs" x-large color="grey darken-3"
          >mdi-account-circle</v-icon
        >
      </template>
      <v-list>
        <v-list-item
          v-for="menuItemLoggedIn in menuLoggedInCustomer"
          :key="menuItemLoggedIn.id"
        >
          <nuxt-link
            v-if="menuItemLoggedIn.title !== 'Se déconnecter'"
            style="text-decoration: none; color: inherit"
            :to="menuItemLoggedIn.link"
          >
            <v-list-item-title>
              {{ menuItemLoggedIn.title }}
            </v-list-item-title>
          </nuxt-link>
          <v-list-item-title style="cursor: pointer" v-else @click="logout()">
            {{ menuItemLoggedIn.title }}
          </v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
  </div>
</template>

<script>
export default {
  data: () => ({
    menuLoggedOff: [
      { title: 'Se connecter', link: '/login' },
      { title: "S'inscrire", link: '/inscription' },
    ],
    menuLoggedInCustomer: [
      { title: 'Mon profil', link: '/profil' },
      { title: 'Mes commandes', link: '/commandes' },
      { title: 'Se déconnecter' },
    ],
    menuLoggedInAdmin: [
      { title: 'ERP Admin', link: '/erp/admin' },
      { title: 'Se déconnecter' },
    ],
    menuLoggedInManager: [
      { title: 'ERP Manager', link: '/erp/manager' },
      { title: 'Se déconnecter' },
    ],
  }),
  methods: {
    async logout() {
      await this.$auth.logout()
    },
  },
}
</script>

<style scoped>
a {
  text-decoration: none;
}
</style>
