<template>
  <div>
    <v-col col="6">
      <v-card class="pa-15 rounded-25">
        <v-row class="ma-5">
          <h1>Mentions légales</h1>
        </v-row>
        <v-row class="ma-5">
          Merci de lire avec attention les différentes modalités d’utilisation
          du présent site avant d’y parcourir ses pages. En vous connectant sur
          ce site, vous acceptez sans réserves les présentes modalités. Aussi,
          conformément à l’article n°6 de la Loi n°2004-575 du 21 Juin 2004 pour
          la confiance dans l’économie numérique, les responsables du présent
          site internet
          <a href="http://https://the-good-food-front.herokuapp.com/"
            >https://the-good-food-front.herokuapp.com/</a
          >
          sont :
        </v-row>
        <v-row class="ma-5">
          <p style="color: #b51a00">
            <span style="color: rgb(0, 0, 0)">
              <b>Editeur du Site :</b>
            </span>
          </p>
        </v-row>
        <v-row class="ma-5">
          <v-list dense>
            <v-list-item-group class="v-list-itemst">
              <v-list-item>The Good Food</v-list-item>

              <v-list-item>Numéro de SIRET : 4156464</v-list-item>

              <v-list-item>Responsable editorial : Rafael Talhas</v-list-item>

              <v-list-item>1 rue de Paris</v-list-item>

              <v-list-item
                >Téléphone :0606060606 - Fax : 0505050505</v-list-item
              >

              <v-list-item>Email : thegoodfood@gmail.com</v-list-item>
              <v-list-item>
                Site Web :
                <a href="http://https://the-good-food-front.herokuapp.com/"
                  >https://the-good-food-front.herokuapp.com/</a
                >
              </v-list-item>
            </v-list-item-group>
          </v-list>
        </v-row>
        <v-row class="ma-5">
          <p style="color: #b51a00">
            <b>
              <span style="color: rgb(0, 0, 0)">Hébergement :</span>
            </b>
          </p>
        </v-row>
        <v-row class="ma-5">
          <v-list dense>
            <v-list-item-group>
              <v-list-item>Hébergeur : OVH</v-list-item>
              <v-list-item>1 rue IVH Strasbourg</v-list-item>
              <v-list-item>
                Site Web :
                <a href="http://www.ovh.com">www.ovh.com</a>
              </v-list-item>
            </v-list-item-group>
          </v-list>
        </v-row>
        <v-row class="ma-5">
          <p style="color: #b51a00">
            <span style="color: rgb(0, 0, 0)">
              <b>Développement</b>
              <b>:</b>
            </span>
          </p>
        </v-row>
        <v-row class="ma-5">
          <v-list dense>
            <v-list-item-group>
              <v-list-item>Absys</v-list-item>
              <v-list-item>Adresse : 1 rue Absys Paris</v-list-item>
              <v-list-item>
                Site Web :
                <a href="http://www.absys.com">www.absys.com</a>
              </v-list-item>
            </v-list-item-group>
          </v-list>
        </v-row>
        <v-row class="ma-5">
          <p style="color: #b51a00">
            <span style="color: rgb(0, 0, 0)">
              <b>Conditions d’utiv-list-itemsation :</b>
            </span>
          </p>
        </v-row>
        <v-row class="ma-5">
          Ce site (
          <a href="http://https://the-good-food-front.herokuapp.com/"
            >https://the-good-food-front.herokuapp.com/</a
          >) est proposé en différents langages web (HTML, HTML5, Javascript,
          CSS, etc…) pour un meilleur confort d'utilisation et un graphisme plus
          agréable, nous vous recommandons de recourir à des navigateurs
          modernes comme Internet explorer, Safari, Firefox, Google Chrome, etc…
          Les mentions légales ont été générées sur le site
          <a
            title="générateur de mentions légales pour site internet gratuit"
            href="http://www.generateur-de-mentions-legales.com"
            >Générateur de mentions légales</a
          >, offert par
          <a title="imprimerie paris, imprimeur paris" href="http://welye.com"
            >Welye</a
          >
          .
        </v-row>
        <v-row class="ma-5">
          <span style="color: #323333">
            The Good Food
            <b></b>
          </span>
          met en œuvre tous les moyens dont elle dispose, pour assurer une
          information fiable et une mise à jour fiable de ses sites internet.
          Toutefois, des erreurs ou omissions peuvent survenir. L'internaute
          devra donc s'assurer de l'exactitude des informations auprès de , et
          signaler toutes modifications du site qu'il jugerait utile. n'est en
          aucun cas responsable de l'utilisation faite de ces informations, et
          de tout préjudice direct ou indirect pouvant en découler.
        </v-row>
        <v-row class="ma-5">
          <b>Cookies :</b>
        </v-row>
        <v-row class="ma-5">
          Le site
          <a href="http://https://the-good-food-front.herokuapp.com/"
            >https://the-good-food-front.herokuapp.com/</a
          >
          peut-être amené à vous demander l’acceptation des cookies pour des
          besoins de statistiques et d'affichage. Un cookies est une information
          déposée sur votre disque dur par le serveur du site que vous visitez.
          Il contient plusieurs données qui sont stockées sur votre ordinateur
          dans un simple fichier texte auquel un serveur accède pour lire et
          enregistrer des informations . Certaines parties de ce site ne peuvent
          être fonctionnelles sans l’acceptation de cookies.
        </v-row>
        <v-row class="ma-5">
          <b>Liens hypertextes :</b>
          Les sites internet de peuvent offrir des liens vers d’autres sites
          internet ou d’autres ressources disponibles sur Internet. The Good
          Food ne dispose d'aucun moyen pour contrôler les sites en connexion
          avec ses sites internet. ne répond pas de la disponibilité de tels
          sites et sources externes, ni ne la garantit. Elle ne peut être tenue
          pour responsable de tout dommage, de quelque nature que ce soit,
          réslitant du contenu de ces sites ou sources externes, et notamment
          des informations, produits ou services qu’ils proposent, ou de tout
          usage qui peut être fait de ces éléments. Les risques liés à cette
          utilisation incombent pleinement à l'internaute, qui doit se conformer
          à leurs conditions d'utilisation.
        </v-row>
        <v-row class="ma-5"
          >Les utilisateurs, les abonnés et les visiteurs des sites internet de
          ne peuvent mettre en place un hyperlien en direction de ce site sans
          l'autorisation expresse et préalable de The Good Food.</v-row
        >
        <v-row class="ma-5"
          >Dans l'hypothèse où un utilisateur ou visiteur souhaiterait mettre en
          place un hyperlien en direction d’un des sites internet de The Good
          Food, il lui appartiendra d'adresser un email accessible sur le site
          afin de former sa demande de mise en place d'un hyperlien. The Good
          Food se réserve le droit d’accepter ou de refuser un hyperlien sans
          avoir à en justifier sa décision.</v-row
        >
        <v-row class="ma-5">
          <p style="color: #b51a00">
            <span style="color: rgb(0, 0, 0)">
              <b>Services fournis :</b>
            </span>
          </p>
        </v-row>
        <v-row class="ma-5">
          <p style="color: #323333">
            L'ensemble des activités de la société ainsi que ses informations
            sont présentés sur notre site
            <a href="http://https://the-good-food-front.herokuapp.com/"
              >https://the-good-food-front.herokuapp.com/</a
            >.
          </p>
        </v-row>
        <v-row class="ma-5">
          <p style="color: #323333">
            The Good Food s’efforce de fournir sur le site
            https://the-good-food-front.herokuapp.com/ des informations aussi
            précises que possible. les renseignements figurant sur le site
            <a href="http://https://the-good-food-front.herokuapp.com/"
              >https://the-good-food-front.herokuapp.com/</a
            >
            ne sont pas exhaustifs et les photos non contractuelles. Ils sont
            donnés sous réserve de modifications ayant été apportées depuis leur
            mise en v-list-itemgne. Par ailleurs, tous les informations
            indiquées sur le site https://the-good-food-front.herokuapp.com/
            <span style="color: #000000"> <b></b> </span>sont données à titre
            indicatif, et sont susceptibles de changer ou d’évoluer sans
            préavis.
          </p>
        </v-row>
        <v-row class="ma-5">
          <p style="color: #b51a00">
            <span style="color: rgb(0, 0, 0)">
              <b>Limitation contractuelles sur les données :</b>
            </span>
          </p>
        </v-row>
        <v-row class="ma-5">
          Les informations contenues sur ce site sont aussi précises que
          possible et le site remis à jour à différentes périodes de l’année,
          mais peut toutefois contenir des inexactitudes ou des omissions. Si
          vous constatez une lacune, erreur ou ce qui parait être un
          dysfonctionnement, merci de bien vov-list-item-contentoir le signaler
          par email, à l’adresse thegoodfood@gmail.com, en décrivant le problème
          de la manière la plus précise possible (page posant problème, type
          d’ordinateur et de navigateur utiv-list-itemsé, …). Tout contenu
          téléchargé se fait aux risques et périls de l'utiv-list-itemsateur et
          sous sa sev-list-item-contente responsabiv-list-itemté. En
          conséquence, ne saurait être tenu responsable d'un quelconque dommage
          subi par l'ordinateur de l'utiv-list-itemsateur ou d'une quelconque
          perte de données consécutives au téléchargement.
          <span style="color: #323333"
            >De plus, l’utiv-list-itemsateur du site s’engage à accéder au site
            en utiv-list-itemsant un matériel récent, ne contenant pas de virus
            et avec un navigateur de dernière génération mis-à-jour</span
          >
          Les v-list-itemens hypertextes mis en place dans le cadre du présent
          site internet en direction d'autres ressources présentes sur le réseau
          Internet ne sauraient engager la responsabiv-list-itemté de The Good
          Food.
        </v-row>
        <v-row class="ma-5">
          <p style="color: #b51a00">
            <span style="color: rgb(0, 0, 0)">
              <b>Propriété intellectuelle :</b>
            </span>
          </p>
        </v-row>
        <v-row class="ma-5">
          Tout le contenu du présent sur le site
          <a href="http://https://the-good-food-front.herokuapp.com/"
            >https://the-good-food-front.herokuapp.com/</a
          >
          , incluant, de façon non limitative, les graphismes, images, textes,
          vidéos, animations, sons, logos, gifs et icônes ainsi que leur mise en
          forme sont la propriété exclusive de la société à l'exception des
          marques, logos ou contenus appartenant à d'autres sociétés partenaires
          ou auteurs. Toute reproduction, distribution, modification,
          adaptation, retransmission ou publication, même partielle, de ces
          différents éléments est strictement interdite sans l'accord exprès par
          écrit de The Good Food. Cette représentation ou reproduction, par
          quelque procédé que ce soit, constitue une contrefaçon sanctionnée par
          les articles L.335-2 et suivants du Code de la propriété
          intellectuelle. Le non-respect de cette interdiction constitue une
          contrefaçon pouvant engager la responsabilité civile et pénale du
          contrefacteur. En outre, les propriétaires des Contenus copiés
          pourraient intenter une action en justice à votre encontre.
        </v-row>
        <v-row class="ma-5">
          <p style="color: #b51a00">
            <span style="color: rgb(0, 0, 0)">
              <b>Déclaration à la CNIL :</b>
            </span>
          </p>
          Conformément à la loi 78-17 du 6 janvier 1978 (modifiée par la loi
          2004-801 du 6 août 2004 relative à la protection des personnes
          physiques à l'égard des traitements de données à caractère personnel)
          relative à l'informatique, aux fichiers et aux libertés, ce site a
          fait l'objet d'une déclaration 45461165 auprès de la Commission
          nationale de l'informatique et des libertés (
          <a href="http://www.cnil.fr/">www.cnil.fr</a>
          ).
        </v-row>
        <v-row class="ma-5">
          <p style="color: #b51a00">
            <span style="color: rgb(0, 0, 0)">
              <b>Litiges :</b>
            </span>
          </p>
        </v-row>
        <v-row class="ma-5">
          Les présentes conditions du site
          <a href="http://https://the-good-food-front.herokuapp.com/"
            >https://the-good-food-front.herokuapp.com/</a
          >
          sont régies par les lois françaises et toute contestation ou litiges
          qui pourraient naître de l'interprétation ou de l'exécution de
          celles-ci seront de la compétence exclusive des tribunaux dont dépend
          le siège social de la société. La langue de référence, pour le
          règlement de contentieux éventuels, est le français.
        </v-row>
        <v-row class="ma-5">
          <p style="color: #b51a00">
            <span style="color: rgb(0, 0, 0)">
              <b>Données personnelles :</b>
            </span>
          </p>
        </v-row>
        <v-row class="ma-5">
          De manière générale, vous n’êtes pas tenu de nous communiquer vos
          données personnelles lorsque vous visitez notre site Internet
          <a href="http://https://the-good-food-front.herokuapp.com/"
            >https://the-good-food-front.herokuapp.com/</a
          >
          . Cependant, ce principe comporte certaines exceptions. En effet, pour
          certains services proposés par notre site, vous pouvez être amenés à
          nous communiquer certaines données telles que : votre nom, votre
          fonction, le nom de votre société, votre adresse électronique, et
          votre numéro de téléphone. Tel est le cas lorsque vous
          rempv-list-itemssez le formulaire qui vous est proposé en ligne, dans
          la rubrique « contact ». Dans tous les cas, vous pouvez refuser de
          fournir vos données personnelles. Dans ce cas, vous ne pourrez pas
          utiliser les services du site, notamment celui de solliciter des
          renseignements sur notre société, ou de recevoir les lettres
          d’information. Enfin, nous pouvons collecter de manière automatique
          certaines informations vous concernant lors d’une simple navigation
          sur notre site Internet, notamment : des informations concernant
          l’utilisation de notre site, comme les zones que vous visitez et les
          services auxquels vous accédez, votre adresse IP, le type de votre
          navigateur, vos temps d'accès. De telles informations sont utilisées
          exclusivement à des fins de statistiques internes, de manière à
          améliorer la qualité des services qui vous sont proposés. Les bases de
          données sont protégées par les dispositions de la loi du 1er juillet
          1998 transposant la directive 96/9 du 11 mars 1996 relative à la
          protection juridique des bases de données.
        </v-row>
      </v-card>
    </v-col>
  </div>
</template>

<script>
export default {
  name: 'CGU',
  components: {},
}
</script>

<style scoped></style>
