<template>
  <div>
    <div v-if="!nested">
      <v-card color="grey lighten-3" elevation="10" outlined>
        <v-card-title class="mx-3">{{ ingredient.name }}</v-card-title>
        <v-card-text class="mx-3">
          <v-row>
            <v-col class="mr-2" cols="1">
              <v-icon>mdi-tag-text-outline</v-icon>
            </v-col>
            <v-col cols="auto">
              <div>Numéro de lot : {{ ingredient.batchNumber }}</div>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="mr-2" cols="1">
              <v-icon>mdi-clock-alert-outline</v-icon>
            </v-col>
            <v-col cols="auto">
              <div>DLC : {{ ingredient.expirationDate }}</div>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="mr-2" cols="1">
              <v-icon>mdi-numeric</v-icon>
            </v-col>
            <v-col cols="auto">
              <div>Numéro de commande : {{ ingredient.order }}</div>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="mr-2" cols="1">
              <v-icon>mdi-currency-eur</v-icon>
            </v-col>
            <v-col cols="auto">
              <div>Coût d'achat : {{ ingredient.price }}</div>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="mr-2" cols="1">
              <v-icon>mdi-counter</v-icon>
            </v-col>
            <v-col cols="auto">
              <div>Quantité : {{ ingredient.quantity }}</div>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="1">
              <v-icon>mdi-account-arrow-right</v-icon>
            </v-col>
            <v-col cols="auto">
              <div>Fournisseur : {{ ingredient.supplier }}</div>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="1">
              <v-icon>mdi-calendar</v-icon>
            </v-col>
            <v-col cols="auto">
              <div>Date de livraison : {{ ingredient.supplyDate }}</div>
            </v-col>
          </v-row>
          <v-row justify="center">
            <v-col cols="auto">
              <ModalEditIngredient
                @change-confirmed="$emit('change-confirmed')"
                :ingredient="ingredient"
              />
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </div>

    <div v-else>
      <v-card
        @click="addToProduct()"
        color="grey lighten-3"
        elevation="10"
        outlined
      >
        <v-card-title class="mx-3">{{ ingredient.name }}</v-card-title>
        <v-card-text class="mx-3">
          <v-row>
            <v-col class="mr-2" cols="1">
              <v-icon>mdi-tag-text-outline</v-icon>
            </v-col>
            <v-col cols="auto">
              <div>Numéro de lot : {{ ingredient.batchNumber }}</div>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="mr-2" cols="1">
              <v-icon>mdi-clock-alert-outline</v-icon>
            </v-col>
            <v-col cols="auto">
              <div>DLC : {{ ingredient.expirationDate }}</div>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="mr-2" cols="1">
              <v-icon>mdi-numeric</v-icon>
            </v-col>
            <v-col cols="auto">
              <div>Numéro de commande : {{ ingredient.order }}</div>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="mr-2" cols="1">
              <v-icon>mdi-currency-eur</v-icon>
            </v-col>
            <v-col cols="auto">
              <div>Coût d'achat : {{ ingredient.price }}</div>
            </v-col>
          </v-row>
          <v-row>
            <v-col class="mr-2" cols="1">
              <v-icon>mdi-counter</v-icon>
            </v-col>
            <v-col cols="auto">
              <div>Quantité : {{ ingredient.quantity }}</div>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="1">
              <v-icon>mdi-account-arrow-right</v-icon>
            </v-col>
            <v-col cols="auto">
              <div>Fournisseur : {{ ingredient.supplier }}</div>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="1">
              <v-icon>mdi-calendar</v-icon>
            </v-col>
            <v-col cols="auto">
              <div>Date de livraison : {{ ingredient.supplyDate }}</div>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </div>
  </div>
</template>

<script>
import ModalEditIngredient from '~/components/erp/manager/ingredients/ModalEditIngredient.vue'
export default {
  name: 'Ingredients',
  components: {
    ModalEditIngredient,
  },
  props: {
    nested: {
      required: false,
      type: Boolean,
      default: false,
    },
    ingredient: {
      required: true,
      type: Object,
    },
  },
  methods: {
    addToProduct() {
      this.$emit('add-to-product', this.ingredient)
    },
  },
}
</script>

<style>
.swal2-popup {
  font-family: 'Roboto';
}
</style>
