<template>
  <v-dialog v-model="dialog" max-width="600px">
    <template v-slot:activator="{ on, attrs }">
      <v-btn color="#FF7E00" v-bind="attrs" v-on="on"
        >Éditer l'ingrédient</v-btn
      >
    </template>
    <v-card>
      <v-card-title>
        <span class="text-h5">Ingrédient</span>
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-row>
            <v-col cols="12">
              <v-text-field
                label="Numéro de lot*"
                required
                v-model="form.batchNumber"
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field
                label="Nom de l'ingrédient*"
                required
                v-model="form.name"
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-menu
                ref="menuExpirationDate"
                v-model="menuExpirationDate"
                :close-on-content-click="true"
                transition="scale-transition"
                offset-y
                min-width="auto"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field
                    v-model="form.expirationDate"
                    label="DLC*"
                    prepend-icon="mdi-clock-alert-outline"
                    readonly
                    v-bind="attrs"
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker
                  v-model="form.expirationDate"
                  no-title
                  scrollable
                ></v-date-picker>
              </v-menu>
            </v-col>
            <v-col cols="12">
              <v-text-field
                label="Numéro de commande*"
                required
                v-model="form.orderNumber"
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field
                label="Coût d'achat*"
                required
                v-model="form.price"
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field
                label="Quantité*"
                required
                v-model="form.quantity"
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field
                label="Fournisseur*"
                required
                v-model="form.supplier"
              ></v-text-field>
            </v-col>

            <v-col cols="12">
              <v-menu
                ref="menuSupplyDate"
                v-model="menuSupplyDate"
                :close-on-content-click="true"
                transition="scale-transition"
                offset-y
                min-width="auto"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field
                    v-model="form.supplyDate"
                    label="Date de livraison*"
                    prepend-icon="mdi-calendar"
                    readonly
                    v-bind="attrs"
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker
                  v-model="form.supplyDate"
                  no-title
                  scrollable
                ></v-date-picker>
              </v-menu>
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>
      <v-row justify="center">
        <v-col cols="auto">
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="#FF7E00" @click="cancel()">Annuler</v-btn>
            <v-btn color="#FF7E00" @click="confirmChanges()"
              >Valider les changements</v-btn
            >
          </v-card-actions>
        </v-col>
      </v-row>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: 'ModalEditIngredient',
  props: {
    ingredient: {
      type: Object,
      required: true,
    },
  },
  data: () => ({
    supplyDate: null,
    menuSupplyDate: null,
    menuExpirationDate: null,
    dialog: false,
    form: {
      name: null,
      batchNumber: null,
      orderNumber: null,
      expirationDate: null,
      price: null,
      quantity: null,
      supplier: null,
      supplyDate: null,
    },
  }),
  mounted() {
    this.setData()
  },
  methods: {
    close() {
      this.$emit('close')
    },
    confirmChanges() {
      this.$axios
        .put(
          `/restaurant/${this.$auth.user.restaurantId}/ingredient/${this.ingredient.id}`,
          this.form
        )
        .then(() => this.$emit('change-confirmed'))
      this.dialog = false
    },
    setData() {
      this.form = { ...this.ingredient }
    },
    cancel() {
      this.form = {}
      this.dialog = false
    },
  },
}
</script>
