<template>
  <v-card>
    <v-toolbar
      color="#FF7E00"
      dark
      flat
      class="d-flex justify-center align-center flex-column"
    >
      <div>
        <v-toolbar-title class="ml-6"
          >Votre tableau de bord Manager</v-toolbar-title
        >
        <v-spacer></v-spacer>
      </div>
      <template v-slot:extension>
        <v-tabs v-model="tab" align-with-title>
          <v-tabs-slider color="white"></v-tabs-slider>

          <v-tab
            :to="'#' + menuItem.link"
            v-for="menuItem in menuItems"
            :key="menuItem.title"
            >{{ menuItem.title }}</v-tab
          >
        </v-tabs>
      </template>
    </v-toolbar>

    <v-tabs-items v-model="tab">
      <v-tab-item value="restaurant">
        <RestaurantManager />
      </v-tab-item>
      <v-tab-item value="ingredients">
        <IngredientsManager />
      </v-tab-item>
      <v-tab-item value="produits">
        <ProductsManager />
      </v-tab-item>
      <v-tab-item value="menus">
        <MenusManager />
      </v-tab-item>
    </v-tabs-items>
  </v-card>
</template>

<script>
import RestaurantManager from '~/components/erp/manager/restaurant/RestaurantManager.vue'
import IngredientsManager from '~/components/erp/manager/ingredients/IngredientsManager.vue'
import ProductsManager from '~/components/erp/manager/products/ProductsManager.vue'
import MenusManager from '~/components/erp/manager/menus/MenusManager.vue'

export default {
  name: 'ManagerERP',
  components: {
    RestaurantManager,
    IngredientsManager,
    ProductsManager,
    MenusManager,
  },
  data() {
    return {
      tab: null,
      menuItems: [
        { title: 'Restaurant', link: 'restaurant' },
        { title: 'Ingrédients', link: 'ingredients' },
        { title: 'Produits', link: 'produits' },
        { title: 'Menus', link: 'menus' },
      ],
    }
  },
}
</script>

<style lang="scss" scoped></style>
